<template >
  <!-- <div id="page-selection-controls"> -->
  <div class="divcontainer">
    <v-card flat outlined>
      <template>
        <v-toolbar flat height="50px" color="red lighten-4" class="pt-1 mb-1">
          <h5>Hemorrhagic Stroke > Order > Progress</h5>

          <v-spacer></v-spacer>
          <v-divider class="mx-4" inset vertical></v-divider>
          <h5>HN:123456 นายสมชาย หมายมุ่ง</h5>
        </v-toolbar>
      </template>
    </v-card>
    <v-card class="pa-2" flat outlined>
      <h4>Diagnosis:</h4>
      <v-textarea
        v-model="computeOhspcDx"
        filled
        auto-grow
        placeholder="diagnosis information"
        rows="15"
        label
        row-height="20"
        class="pa-2 ma-0"
        solo
      ></v-textarea>
      <h4>GCS:</h4>
      <v-layout row wrap ma-0>
        <v-flex xs12 sm3 md2>  
           <v-combobox :items="gcsE" v-model="fm.ohspcGCS_E" :label="`E`" class="ma-0 pl-2 pr-2"></v-combobox>
        </v-flex>
         <v-flex xs12 sm3 md2>
           <v-combobox :items="gcsV" v-model="fm.ohspcGCS_V" :label="`V`" class="ma-0 pl-2 pr-2"></v-combobox>
        </v-flex>
        <v-flex xs12 sm3 md2>
          <v-combobox :items="gcsM" v-model="fm.ohspcGCS_M" :label="`M`" class="ma-0 pl-2 pr-2"></v-combobox>
        </v-flex>
      </v-layout>
    </v-card>

    <v-footer height="auto" class="white pl-2 pr-2" fixed>
      <v-layout row wrap pl-2 pr-2>
        <v-btn flat small class="mr-1" to="/hemorrhagic_stroke/h_order01">Progress</v-btn>
        <v-btn flat small class="mr-1" to="/hemorrhagic_stroke/h_order02">Order for One day</v-btn>
        <v-btn flat small class="mr-1" to="/hemorrhagic_stroke/h_order03">Order for Continuation</v-btn>

        <v-spacer></v-spacer>
        <v-divider class="mx-4" inset vertical></v-divider>

        <v-btn
          flat
          small
          color="blue lighten-1"
          dark
          to="/hemorrhagic_stroke/hemorrhagic_main"
        >ย้อนกลับ</v-btn>
        <v-btn
          flat
          small
          class="ml-2 mr-2"
          color="primary"
          to="/hemorrhagic_stroke/hemorrhagic_main"
        >บันทึก</v-btn>
      </v-layout>
    </v-footer>
    <!-- card paging -->
  </div>
  <!-- end container -->
</template>

<script>
import util from "@/util";

export default {
  layout: "hemoord_layout",

  data() {
    return {
      gcsE: [1, 2, 3, 4],
      gcsV: [1, 2, 3, 4, 5, "T"],
      gcsM: [1, 2, 3, 4, 5, 6],
      fm: {},
      pt: {}
    };
  },
  methods: {
    async initialize(hn) {
      this.pt = this.$store.state.current_patient;
      this.fm = this.$store.state.current_hemo;
      // this.boispcDx = util.blobToText(this.fm.oispcDx.data);

     
        this.fm.ohspcGCS_E = (this.fm.ohspcGCS_E)?this.fm.ohspcGCS_E :4;
        this.fm.ohspcGCS_V = (this.fm.ohspcGCS_V )?this.fm.ohspcGCS_V :5;
        this.fm.ohspcGCS_M = (this.fm.ohspcGCS_M )?this.fm.ohspcGCS_M :6;
      

      if (!this.fm.ohspcDx) {
        this.fm.ohspcDx = new Buffer("", "utf8");
        // console.log(this.fm.irefCOMP_OTHSP)
      }

      this.$store.commit(
        "SET_TOOLBAR_TITLE",
        "Hemorrhagic Stroke > Order > Progress"
      );

      console.log(this.fm);
    },
    openLinkTab(link) {
      console.log("------ link order 01 ------");
      // console.log(this.fm.oispcDx);
      // this.fm.oispcDx.data = util.textToBlob(this.boispcDx);
      console.log("------ oispcDx --------");
      console.log(this.fm.ohspcDx);
      this.$store.commit("SET_CURRENT_HEMO", this.fm);
      this.$router.push(`${link}`);
    }
  },
  created() {
    // var params = this.$router.currentRoute.query
    // console.log(params.hn)
    this.initialize();
  },
  computed: {
    computeOhspcDx: {
      get() {
        if (!this.fm.ohspcDx) {
          return "";
        }
        return util.blobToText(this.fm.ohspcDx.data);
      },
      set(newVal) {
        this.fm.ohspcDx.data = util.textToBlob(newVal);
      }
    }
  }
};
</script>


<style scoped>
.divcontainer {
  padding: 10px !important;
}

.htitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  /* margin-top: -22px; */
  margin-left: 10px;
  width: 100px;
  background-color: #fafafa;
  display: flex;
  /* padding: 0 10px 0 10px; */
}
</style>
