<template >
  <!-- <div id="page-selection-controls"> -->
  <div class="divcontainer">
    <v-layout row wrap ma-0>
      <v-flex xs12 sm3 md3>
        <v-card flat outlined class="pl-4 pb-md-10">
          <h4>Diet</h4>

          <v-checkbox
            md4
            sm12
            :label="`NPO`"
            :disabled="irefDXSMM"
            v-model="fm.ohsofcDIET_NPO"
            class="ma-0 pa-0"
          ></v-checkbox>
          <v-checkbox md4 sm12 :label="`Diet`" v-model="fm.ohsofcDIET_DIET" class="ma-0 pa-0"></v-checkbox>
          <v-text-field
            :label="`specify`"
            inputmode="numeric"
            :disabled="!fm.ohsofcDIET_DIET"
            v-model="fm.ohsofcDIET_DIETSP"
            class="ma-0 pa-0 pl-2 pr-4"
            data-numeric-input
          ></v-text-field>
        </v-card>
      </v-flex>

      <v-flex xs12 sm9 md9>
        <v-card flat outlined class="pl-4 pb-md-1">
          <h4>Activities</h4>
          <v-layout row wrap ma-0>
            <v-flex xs12 sm6 md6>
              <v-checkbox
                :label="`Bed rest`"
                :disabled="irefDXSMM"
                v-model="fm.ohsofcACT_BR"
                class="ma-0 pa-0 xd-10"
              ></v-checkbox>
              <v-checkbox
                :label="`As tolerated`"
                :disabled="irefDXSMM"
                v-model="fm.ohsofcACT_AT"
                class="ma-0 pa-0"
              ></v-checkbox>
              <v-checkbox
                :label="`Record V/S: Keep SBP 120-140 mmHg`"
                :disabled="irefDXSMM"
                v-model="fm.ohsofcACT_RVS"
                class="ma-0 pa-0"
              ></v-checkbox>
            </v-flex>
            <v-flex xs12 sm6 md6>
              <v-checkbox
                :label="`Record I/O as asual`"
                :disabled="irefDXSMM"
                v-model="fm.ohsofcACT_RIO"
                class="ma-0 pa-0 xd-10"
              ></v-checkbox>
              <v-checkbox
                :label="`Record N/S: if ผลรวม CGS ลดลง >= 2, M ลดลง >= 1 \nหรือ motor power ลดลง >=1 grade ให้ notify แพทย์`"
                :disabled="irefDXSMM"
                v-model="fm.ohsofcACT_RNS"
                class="ma-0 pa-0"
              ></v-checkbox>
              <v-checkbox
                :label="`CBG premeal/q 6hrs. if < 100\nหรือ > 180 mg/dL ให้ notify แพทย์`"
                :disabled="irefDXSMM"
                v-model="fm.ohsofcACT_CBG"
                class="ma-0 pa-0"
              ></v-checkbox>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- start table -->
    <v-card class="mt-1 mb-4" flat outlined>
      <v-layout row wrap ma-0>
        <v-flex xs12 sm12 md10 ma-0>
          <table style="width:100%">
            <thead>
              <tr>
                <th class="text-left pl-2" style="width:130px; text-align:left">Home medication*</th>
                <th class="text-center" style="width:100px">ขนาด/ปริมาณ</th>
                <th class="text-center">จำนวนที่รับประทาน</th>
                <th class="text-center" style="width:80px">หน่วย</th>
                <th class="text-center" style="width:120px">วิธีรับประทาน</th>
                <th class="text-center" style="width:120px">เวลา</th>
                <!-- <th class="text-center">Additional note</th> -->
              </tr>
            </thead>
            <tbody>
              <!-- ----------- Enalapril --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Enalapril`"
                    v-model="fm.ohsofcHMED_ENA"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistENA"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <!-- <td rowspan="9">
              <v-textarea
                v-model="irefRSK_OTHSP"
                filled
                auto-grow
                label="specify"
                rows="11"
                row-height="28"
                class="pa-0 ma-0"
                solo
              ></v-textarea>
                </td>-->
              </tr>

              <!-- ----------- Amlodipine --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Amlodipine`"
                    v-model="fm.ohsofcHMED_AML"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistAML"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ----------- Manidipine --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Manidipine`"
                    v-model="fm.ohsofcHMED_MAN"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistMAN"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ----------- Hydralazine --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Hydralazine`"
                    v-model="fm.ohsofcHMED_HYD"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistHYD"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ----------- Atenolol --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Atenolol`"
                    v-model="fm.ohsofcHMED_ATE"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistATE"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ----------- Bisoprolol --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Bisoprolol`"
                    v-model="fm.ohsofcHMED_BIS"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistBIS"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ----------- Methyldopa --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Methyldopa`"
                    v-model="fm.ohsofcHMED_MET"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistMET"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ----------- HCTZ --------------- -->
              <tr>
                <td>
                  <v-checkbox :label="`HCTZ`" v-model="fm.ohsofcHMED_HCTZ" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistHCTZ"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ----------- Doxazosin --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Doxazosin`"
                    v-model="fm.ohsofcHMED_DOX"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistDOX"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ----------- Dilantin --------------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Dilantin`"
                    v-model="fm.ohsofcHMED_DIL"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistDIL"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <!-- ---------- Glipizide --------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Glipizide`"
                    v-model="fm.ohsofcHMED_GLIP"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistGLIP"
                    :disabled="!fm.ohsofcHMED_GLIP"
                    v-model="fm.ohsofcHMED_GLIP_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_GLIP"
                    v-model="fm.ohsofcHMED_GLIP_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_GLIP"
                    v-model="fm.ohsofcHMED_GLIP_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_GLIP"
                    v-model="fm.ohsofcHMED_GLIP_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_GLIP"
                    v-model="fm.ohsofcHMED_GLIP_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

              <!-- ---------- Metformin --------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Metformin`"
                    v-model="fm.ohsofcHMED_METF"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistMET"
                    :disabled="!fm.ohsofcHMED_METF"
                    v-model="fm.ohsofcHMED_METF_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.ohsofcHMED_METF"
                    v-model="fm.ohsofcHMED_METF_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_METF"
                    v-model="fm.ohsofcHMED_METF_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_METF"
                    v-model="fm.ohsofcHMED_METF_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_METF"
                    v-model="fm.ohsofcHMED_METF_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <!-- ----------- Other --------------- -->
              <tr>
                <td>
                  <v-checkbox :label="`Other`" v-model="fm.ohsofcHMED_OTH" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td colspan="5">
                  <v-text-field
                    :label="`specify`"
                    :disabled="!fm.ohsofcHMED_OTH"
                    v-model="fm.ohsofcHMED_OTHSP"
                    class="ma-0 pa-0 2"
                  ></v-text-field>
                </td>
              </tr>

              <!-- ----------- Enalapril --------------- -->
              <!-- <tr>
                <td>
                  <v-checkbox :label="`Enalapril`" v-model="fm.ohsofcHMED_ENA" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_ENA"
                    v-model="fm.ohsofcHMED_ENA_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <!-- <td rowspan="9">
              <v-textarea
                v-model="irefRSK_OTHSP"
                filled
                auto-grow
                label="specify"
                rows="11"
                row-height="28"
                class="pa-0 ma-0"
                solo
              ></v-textarea>
                </td>
              </tr>
        
              <tr>
                <td>
                  <v-checkbox
                    :label="`Amlodipine`"
                    v-model="fm.ohsofcHMED_AML"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_AML"
                    v-model="fm.ohsofcHMED_AML_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    :label="`Manidipine`"
                    v-model="fm.ohsofcHMED_MAN"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_MAN"
                    v-model="fm.ohsofcHMED_MAN_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    :label="`Hydralazinel`"
                    v-model="fm.ohsofcHMED_HYD"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_HYD"
                    v-model="fm.ohsofcHMED_HYD_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    :label="`Atenolol`"
                    v-model="fm.ohsofcHMED_ATE"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_ATE"
                    v-model="fm.ohsofcHMED_ATE_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    :label="`Bisoprolol`"
                    v-model="fm.ohsofcHMED_BIS"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_BIS"
                    v-model="fm.ohsofcHMED_BIS_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    :label="`Methyldopa`"
                    v-model="fm.ohsofcHMED_MET"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_MET"
                    v-model="fm.ohsofcHMED_MET_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    :label="`HCTZ`"
                    v-model="fm.ohsofcHMED_HCTZ"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_HCTZ"
                    v-model="fm.ohsofcHMED_HCTZ_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    :label="`Doxazosin`"
                    v-model="fm.ohsofcHMED_DOX"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_DOX"
                    v-model="fm.ohsofcHMED_DOX_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    :label="`Dilantin`"
                    v-model="fm.ohsofcHMED_DIL"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist1"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-text-field
                    type="number"
                    inputmode="numeric"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_SIG"
                    class="ma-0 pa-0 pl-1 pr-1"
                    data-numeric-input
                  ></v-text-field>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.ohsofcHMED_DIL"
                    v-model="fm.ohsofcHMED_DIL_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
              <tr>
                <td>
                  <v-checkbox :label="`Other`" v-model="fm.ohsofcHMED_OTH" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td colspan="5">
                  <v-text-field
                    :label="`specify`"
                    type="number"
                    :disabled="!fm.ohsofcHMED_OTH"
                    v-model="fm.ohsofcHMED_OTHSP"
                    class="ma-0 pa-0 2"
                   
                  ></v-text-field>
                </td>
              </tr>-->
            </tbody>
          </table>
        </v-flex>

        <v-flex xs12 sm12 md2>
          <v-textarea
            v-model="computeMEMO"
            filled
            auto-grow
            rows="4"
            label="Additional Note"
            row-height="20"
            class="pa-0 ma-0"
            solo
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-card>

    <br />
    <br />

    <!-- card paging -->
  </div>
  <!-- end container -->
</template>

<script>
import util from "@/util";

export default {
  layout: "hemoord_layout",
  data() {
    return {
      vlistENA: ["5", "10", "20"],
      vlistAML: ["5", "10"],
      vlistMAN: ["10", "20"],
      vlistHYD: ["25", "50"],
      vlistATE: ["50", "100"],
      vlistBIS: ["2.5", "5"],
      vlistMET: ["250", "500"],
      vlistHCTZ: ["25", "50"],
      vlistDOX: ["2", "4"],
      vlistDIL: ["50", "100"],
      vlistGLIP: ["5"],
      vlistMETF: ["500", "800"],

      vlist1: ["1"],
      vlist12: ["1", "2"],
      vlist052: ["0.5", "1", "1.5", "2"],
      vlist053: ["0.5", "1", "1.5", "2", "2.5", "3"],

      vlistUNIT: ["เม็ด", "tab", "tabs", "cap", "caps"],

      vlistUSE: [
        "ก่อนอาหาร",
        "หลังอาหาร",
        "po OD ac",
        "po OD pc",
        "po OD hs",
        "po BID ac",
        "po BID pc",
        "po TID ac",
        "po TID pc",
        "po QID ac with hs",
        "po QID pc with hs",
      ],
      vlistTM: [
        "เช้า",
        "กลางวัน",
        "เย็น",
        "ก่อนนอน",
        "เช้า เย็น",
        "เช้า เที่ยง",
        "เช้า ก่อนนอน",
        "เช้า กลางวัน เย็น",
        "เช้า กลางวัน เย็น ก่อนนอน",
      ],
      hsmed: [
        "ENA",
        "AML",
        "MAN",
        "HYD",
        "ATE",
        "BIS",
        "MET",
        "HCTZ",
        "DOX",
        "DIL",
        "GLIP",
        "METF",
      ],
      // vlistUNIT: ["tab","tabs","cap", "caps"],
      // vlistUSE: ["po OD ac", "po OD pc", "po OD hs", "po BID ac", "po BID pc", "po TID ac", "po TID pc", "po QID ac with hs", "po QID pc with hs"],
      // vlistTM: ["เช้า", "กลางวัน", "เย็น", "ก่อนนอน", "เช้า เย็น", "เช้า เที่ยง", "เช้า ก่อนนอน", "เช้า กลางวัน เย็น", "เช้า กลางวัน เย็น ก่อนนอน"],
      fm: {},
      pt: {},
      ref:{},
    };
  },
  methods: {
    async initialize(hn) {
      this.pt = this.$store.state.current_patient;
      this.fm = this.$store.state.current_hemo;
        this.ref = this.$store.state.current_ref;
      console.log("------ref--------");
      console.log(this.ref);
      if (this.ref != undefined && this.$store.state.form_state=="new") {
        for (var med in this.hsmed) {
          console.log(med)
          this.fm["ohsofcHMED_" + this.hsmed[med]] = this.ref["hrefHMED_" + this.hsmed[med]];
          this.fm["ohsofcHMED_" + this.hsmed[med]+"_MG"] = this.ref["hrefHMED_" + this.hsmed[med]+"_MG"];
          this.fm["ohsofcHMED_" + this.hsmed[med]+"_SIG"] = this.ref["hrefHMED_" + this.hsmed[med]+"_SIG"];
          this.fm["ohsofcHMED_" + this.hsmed[med]+"_UNIT"] = this.ref["hrefHMED_" + this.hsmed[med]+"_UNIT"];
          this.fm["ohsofcHMED_" + this.hsmed[med]+"_USE"] = this.ref["hrefHMED_" + this.hsmed[med]+"_USE"];
          this.fm["ohsofcHMED_" + this.hsmed[med]+"_TM"] = this.ref["hrefHMED_" + this.hsmed[med]+"_TM"];
        }
      }

      if (!this.fm.ohsohs_MEMO) {
        this.fm.ohsohs_MEMO = new Buffer("", "utf8");
        // console.log(this.fm.irefCOMP_OTHSP)
      }

      this.$store.commit(
        "SET_TOOLBAR_TITLE",
        "Hemorrhagic Stroke > Order > Order For Continuation"
      );
      console.log(this.fm);
    },
    openLinkTab(link) {
      this.$store.commit("SET_CURRENT_HEMO", this.fm);
      this.$router.push(`${link}`);
    },
  },
  created() {
    // var params = this.$router.currentRoute.query
    // console.log(params.hn)
    this.initialize();
  },
  computed: {
    computeMEMO: {
      get() {
        if (!this.fm.ohsohs_MEMO) {
          return "";
        }
        return util.blobToText(this.fm.ohsohs_MEMO.data);
      },
      set(newVal) {
        this.fm.ohsohs_MEMO.data = util.textToBlob(newVal);
      },
    },
  },

   

  watch: {
    "fm.ohsofcDIET_NPO": function (n, o) {
      if (n == true) {
        this.fm.ohsofcDIET_DIET = false;
        this.fm.ohsofcDIET_DIETSP='';
      }
    },
    "fm.ohsofcDIET_DIET": function (n, o) {
      if (n == true) {
        this.fm.ohsofcDIET_NPO = false;
      }
    },
    "fm.ohsofcACT_BR": function (n, o) {
      if (n == true) {
        this.fm.ohsofcACT_AT = false;
      }
    },
    "fm.ohsofcACT_AT": function (n, o) {
      if (n == true) {
        this.fm.ohsofcACT_BR = false;
      }
    },
    "fm.ohsofcHMED_ENA": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_ENA_MG = null;
        this.fm.ohsofcHMED_ENA_SIG = null;
        this.fm.ohsofcHMED_ENA_UNIT = null;
        this.fm.ohsofcHMED_ENA_USE = null;
        this.fm.ohsofcHMED_ENA_TM = null;
      } else {
        this.fm.ohsofcHMED_ENA_MG = this.fm.ohsofcHMED_ENA_MG
          ? this.fm.ohsofcHMED_ENA_MG
          : "5";
        this.fm.ohsofcHMED_ENA_SIG = this.fm.ohsofcHMED_ENA_SIG
          ? this.fm.ohsofcHMED_ENA_SIG
          : "1";
        this.fm.ohsofcHMED_ENA_UNIT = this.fm.ohsofcHMED_ENA_UNIT
          ? this.fm.ohsofcHMED_ENA_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_ENA_USE = this.fm.ohsofcHMED_ENA_USE
          ? this.fm.ohsofcHMED_ENA_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_ENA_TM = this.fm.ohsofcHMED_ENA_TM
          ? this.fm.ohsofcHMED_ENA_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_AML": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_AML_MG = null;
        this.fm.ohsofcHMED_AML_SIG = null;
        this.fm.ohsofcHMED_AML_UNIT = null;
        this.fm.ohsofcHMED_AML_USE = null;
        this.fm.ohsofcHMED_AML_TM = null;
      } else {
        this.fm.ohsofcHMED_AML_MG = this.fm.ohsofcHMED_AML_MG
          ? this.fm.ohsofcHMED_AML_MG
          : "5";
        this.fm.ohsofcHMED_AML_SIG = this.fm.ohsofcHMED_AML_SIG
          ? this.fm.ohsofcHMED_AML_SIG
          : "1";
        this.fm.ohsofcHMED_AML_UNIT = this.fm.ohsofcHMED_AML_UNIT
          ? this.fm.ohsofcHMED_AML_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_AML_USE = this.fm.ohsofcHMED_AML_USE
          ? this.fm.ohsofcHMED_AML_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_AML_TM = this.fm.ohsofcHMED_AML_TM
          ? this.fm.ohsofcHMED_AML_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_MAN": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_MAN_MG = null;
        this.fm.ohsofcHMED_MAN_SIG = null;
        this.fm.ohsofcHMED_MAN_UNIT = null;
        this.fm.ohsofcHMED_MAN_USE = null;
        this.fm.ohsofcHMED_MAN_TM = null;
      } else {
        this.fm.ohsofcHMED_MAN_MG = this.fm.ohsofcHMED_MAN_MG
          ? this.fm.ohsofcHMED_MAN_MG
          : "10";
        this.fm.ohsofcHMED_MAN_SIG = this.fm.ohsofcHMED_MAN_SIG
          ? this.fm.ohsofcHMED_MAN_SIG
          : "1";
        this.fm.ohsofcHMED_MAN_UNIT = this.fm.ohsofcHMED_MAN_UNIT
          ? this.fm.ohsofcHMED_MAN_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_MAN_USE = this.fm.ohsofcHMED_MAN_USE
          ? this.fm.ohsofcHMED_MAN_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_MAN_TM = this.fm.ohsofcHMED_MAN_TM
          ? this.fm.ohsofcHMED_MAN_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_HYD": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_HYD_MG = null;
        this.fm.ohsofcHMED_HYD_SIG = null;
        this.fm.ohsofcHMED_HYD_UNIT = null;
        this.fm.ohsofcHMED_HYD_USE = null;
        this.fm.ohsofcHMED_HYD_TM = null;
      } else {
        this.fm.ohsofcHMED_HYD_MG = this.fm.ohsofcHMED_HYD_MG
          ? this.fm.ohsofcHMED_HYD_MG
          : "25";
        this.fm.ohsofcHMED_HYD_SIG = this.fm.ohsofcHMED_HYD_SIG
          ? this.fm.ohsofcHMED_HYD_SIG
          : "1";
        this.fm.ohsofcHMED_HYD_UNIT = this.fm.ohsofcHMED_HYD_UNIT
          ? this.fm.ohsofcHMED_HYD_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_HYD_USE = this.fm.ohsofcHMED_HYD_USE
          ? this.fm.ohsofcHMED_HYD_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_HYD_TM = this.fm.ohsofcHMED_HYD_TM
          ? this.fm.ohsofcHMED_HYD_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_ATE": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_ATE_MG = null;
        this.fm.ohsofcHMED_ATE_SIG = null;
        this.fm.ohsofcHMED_ATE_UNIT = null;
        this.fm.ohsofcHMED_ATE_USE = null;
        this.fm.ohsofcHMED_ATE_TM = null;
      } else {
        this.fm.ohsofcHMED_ATE_MG = this.fm.ohsofcHMED_ATE_MG
          ? this.fm.ohsofcHMED_ATE_MG
          : "50";
        this.fm.ohsofcHMED_ATE_SIG = this.fm.ohsofcHMED_ATE_SIG
          ? this.fm.ohsofcHMED_ATE_SIG
          : "1";
        this.fm.ohsofcHMED_ATE_UNIT = this.fm.ohsofcHMED_ATE_UNIT
          ? this.fm.ohsofcHMED_ATE_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_ATE_USE = this.fm.ohsofcHMED_ATE_USE
          ? this.fm.ohsofcHMED_ATE_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_ATE_TM = this.fm.ohsofcHMED_ATE_TM
          ? this.fm.ohsofcHMED_ATE_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_BIS": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_BIS_MG = null;
        this.fm.ohsofcHMED_BIS_SIG = null;
        this.fm.ohsofcHMED_BIS_UNIT = null;
        this.fm.ohsofcHMED_BIS_USE = null;
        this.fm.ohsofcHMED_BIS_TM = null;
      } else {
        this.fm.ohsofcHMED_BIS_MG = this.fm.ohsofcHMED_BIS_MG
          ? this.fm.ohsofcHMED_BIS_MG
          : "2.5";
        this.fm.ohsofcHMED_BIS_SIG = this.fm.ohsofcHMED_BIS_SIG
          ? this.fm.ohsofcHMED_BIS_SIG
          : "1";
        this.fm.ohsofcHMED_BIS_UNIT = this.fm.ohsofcHMED_BIS_UNIT
          ? this.fm.ohsofcHMED_BIS_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_BIS_USE = this.fm.ohsofcHMED_BIS_USE
          ? this.fm.ohsofcHMED_BIS_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_BIS_TM = this.fm.ohsofcHMED_BIS_TM
          ? this.fm.ohsofcHMED_BIS_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_MET": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_MET_MG = null;
        this.fm.ohsofcHMED_MET_SIG = null;
        this.fm.ohsofcHMED_MET_UNIT = null;
        this.fm.ohsofcHMED_MET_USE = null;
        this.fm.ohsofcHMED_MET_TM = null;
      } else {
        this.fm.ohsofcHMED_MET_MG = this.fm.ohsofcHMED_MET_MG
          ? this.fm.ohsofcHMED_MET_MG
          : "250";
        this.fm.ohsofcHMED_MET_SIG = this.fm.ohsofcHMED_MET_SIG
          ? this.fm.ohsofcHMED_MET_SIG
          : "1";
        this.fm.ohsofcHMED_MET_UNIT = this.fm.ohsofcHMED_MET_UNIT
          ? this.fm.ohsofcHMED_MET_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_MET_USE = this.fm.ohsofcHMED_MET_USE
          ? this.fm.ohsofcHMED_MET_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_MET_TM = this.fm.ohsofcHMED_MET_TM
          ? this.fm.ohsofcHMED_MET_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_HCTZ": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_HCTZ_MG = null;
        this.fm.ohsofcHMED_HCTZ_SIG = null;
        this.fm.ohsofcHMED_HCTZ_UNIT = null;
        this.fm.ohsofcHMED_HCTZ_USE = null;
        this.fm.ohsofcHMED_HCTZ_TM = null;
      } else {
        this.fm.ohsofcHMED_HCTZ_MG = this.fm.ohsofcHMED_HCTZ_MG
          ? this.fm.ohsofcHMED_HCTZ_MG
          : "25";
        this.fm.ohsofcHMED_HCTZ_SIG = this.fm.ohsofcHMED_HCTZ_SIG
          ? this.fm.ohsofcHMED_HCTZ_SIG
          : "1";
        this.fm.ohsofcHMED_HCTZ_UNIT = this.fm.ohsofcHMED_HCTZ_UNIT
          ? this.fm.ohsofcHMED_HCTZ_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_HCTZ_USE = this.fm.ohsofcHMED_HCTZ_USE
          ? this.fm.ohsofcHMED_HCTZ_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_HCTZ_TM = this.fm.ohsofcHMED_HCTZ_TM
          ? this.fm.ohsofcHMED_HCTZ_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_DOX": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_DOX_MG = null;
        this.fm.ohsofcHMED_DOX_SIG = null;
        this.fm.ohsofcHMED_DOX_UNIT = null;
        this.fm.ohsofcHMED_DOX_USE = null;
        this.fm.ohsofcHMED_DOX_TM = null;
      } else {
        this.fm.ohsofcHMED_DOX_MG = this.fm.ohsofcHMED_DOX_MG
          ? this.fm.ohsofcHMED_DOX_MG
          : "2";
        this.fm.ohsofcHMED_DOX_SIG = this.fm.ohsofcHMED_DOX_SIG
          ? this.fm.ohsofcHMED_DOX_SIG
          : "1";
        this.fm.ohsofcHMED_DOX_UNIT = this.fm.ohsofcHMED_DOX_UNIT
          ? this.fm.ohsofcHMED_DOX_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_DOX_USE = this.fm.ohsofcHMED_DOX_USE
          ? this.fm.ohsofcHMED_DOX_USE
          : "ก่อนอาหาร";
        this.fm.ohsofcHMED_DOX_TM = this.fm.ohsofcHMED_DOX_TM
          ? this.fm.ohsofcHMED_DOX_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_DIL": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_DIL_MG = null;
        this.fm.ohsofcHMED_DIL_SIG = null;
        this.fm.ohsofcHMED_DIL_UNIT = null;
        this.fm.ohsofcHMED_DIL_USE = null;
        this.fm.ohsofcHMED_DIL_TM = null;
      } else {
        this.fm.ohsofcHMED_DIL_MG = this.fm.ohsofcHMED_DIL_MG
          ? this.fm.ohsofcHMED_DIL_MG
          : "50";
        this.fm.ohsofcHMED_DIL_SIG = this.fm.ohsofcHMED_DIL_SIG
          ? this.fm.ohsofcHMED_DIL_SIG
          : "1";
        this.fm.ohsofcHMED_DIL_UNIT = this.fm.ohsofcHMED_DIL_UNIT
          ? this.fm.ohsofcHMED_DIL_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_DIL_USE = this.fm.ohsofcHMED_DIL_USE
          ? this.fm.ohsofcHMED_DIL_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_DIL_TM = this.fm.ohsofcHMED_DIL_TM
          ? this.fm.ohsofcHMED_DIL_TM
          : "เช้า กลางวัน เย็น";
      }
    },

    "fm.ohsofcHMED_GLIP": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_GLIP_MG = null;
        this.fm.ohsofcHMED_GLIP_SIG = null;
        this.fm.ohsofcHMED_GLIP_UNIT = null;
        this.fm.ohsofcHMED_GLIP_USE = null;
        this.fm.ohsofcHMED_GLIP_TM = null;
      } else {
        this.fm.ohsofcHMED_GLIP_MG = this.fm.ohsofcHMED_GLIP_MG
          ? this.fm.ohsofcHMED_GLIP_MG
          : "5";
        this.fm.ohsofcHMED_GLIP_SIG = this.fm.ohsofcHMED_GLIP_SIG
          ? this.fm.ohsofcHMED_GLIP_SIG
          : "1";
        this.fm.ohsofcHMED_GLIP_UNIT = this.fm.ohsofcHMED_GLIP_UNIT
          ? this.fm.ohsofcHMED_GLIP_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_GLIP_USE = this.fm.ohsofcHMED_GLIP_USE
          ? this.fm.ohsofcHMED_GLIP_USE
          : "ก่อนอาหาร";
        this.fm.ohsofcHMED_GLIP_TM = this.fm.ohsofcHMED_GLIP_TM
          ? this.fm.ohsofcHMED_GLIP_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    "fm.ohsofcHMED_METF": function (n, o) {
      if (n == false || n == null) {
        this.fm.ohsofcHMED_METF_MG = null;
        this.fm.ohsofcHMED_METF_SIG = null;
        this.fm.ohsofcHMED_METF_UNIT = null;
        this.fm.ohsofcHMED_METF_USE = null;
        this.fm.ohsofcHMED_METF_TM = null;
      } else {
        this.fm.ohsofcHMED_METF_MG = this.fm.ohsofcHMED_METF_MG
          ? this.fm.ohsofcHMED_METF_MG
          : "500";
        this.fm.ohsofcHMED_METF_SIG = this.fm.ohsofcHMED_METF_SIG
          ? this.fm.ohsofcHMED_METF_SIG
          : "1";
        this.fm.ohsofcHMED_METF_UNIT = this.fm.ohsofcHMED_METF_UNIT
          ? this.fm.ohsofcHMED_METF_UNIT
          : "เม็ด";
        this.fm.ohsofcHMED_METF_USE = this.fm.ohsofcHMED_METF_USE
          ? this.fm.ohsofcHMED_METF_USE
          : "หลังอาหาร";
        this.fm.ohsofcHMED_METF_TM = this.fm.ohsofcHMED_METF_TM
          ? this.fm.ohsofcHMED_METF_TM
          : "เช้า กลางวัน เย็น";
      }
    },
    // "fm.ohsofcHMED_ENA": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_ENA_MG = null;
    //     this.fm.ohsofcHMED_ENA_SIG = null;
    //     this.fm.ohsofcHMED_ENA_UNIT = null;
    //     this.fm.ohsofcHMED_ENA_USE = null;
    //     this.fm.ohsofcHMED_ENA_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_AML": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_AML_MG = null;
    //     this.fm.ohsofcHMED_AML_SIG = null;
    //     this.fm.ohsofcHMED_AML_UNIT = null;
    //     this.fm.ohsofcHMED_AML_USE = null;
    //     this.fm.ohsofcHMED_AML_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_MAN": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_MAN_MG = null;
    //     this.fm.ohsofcHMED_MAN_SIG = null;
    //     this.fm.ohsofcHMED_MAN_UNIT = null;
    //     this.fm.ohsofcHMED_MAN_USE = null;
    //     this.fm.ohsofcHMED_MAN_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_HYD": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_HYD_MG = null;
    //     this.fm.ohsofcHMED_HYD_SIG = null;
    //     this.fm.ohsofcHMED_HYD_UNIT = null;
    //     this.fm.ohsofcHMED_HYD_USE = null;
    //     this.fm.ohsofcHMED_HYD_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_ATE": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_ATE_MG = null;
    //     this.fm.ohsofcHMED_ATE_SIG = null;
    //     this.fm.ohsofcHMED_ATE_UNIT = null;
    //     this.fm.ohsofcHMED_ATE_USE = null;
    //     this.fm.ohsofcHMED_ATE_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_BIS": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_BIS_MG = null;
    //     this.fm.ohsofcHMED_BIS_SIG = null;
    //     this.fm.ohsofcHMED_BIS_UNIT = null;
    //     this.fm.ohsofcHMED_BIS_USE = null;
    //     this.fm.ohsofcHMED_BIS_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_MET": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_MET_MG = null;
    //     this.fm.ohsofcHMED_MET_SIG = null;
    //     this.fm.ohsofcHMED_MET_UNIT = null;
    //     this.fm.ohsofcHMED_MET_USE = null;
    //     this.fm.ohsofcHMED_MET_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_HCTZ": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_HCTZ_MG = null;
    //     this.fm.ohsofcHMED_HCTZ_SIG = null;
    //     this.fm.ohsofcHMED_HCTZ_UNIT = null;
    //     this.fm.ohsofcHMED_HCTZ_USE = null;
    //     this.fm.ohsofcHMED_HCTZ_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_DOX": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_DOX_MG = null;
    //     this.fm.ohsofcHMED_DOX_SIG = null;
    //     this.fm.ohsofcHMED_DOX_UNIT = null;
    //     this.fm.ohsofcHMED_DOX_USE = null;
    //     this.fm.ohsofcHMED_DOX_TM = null;

    //   }
    // },

    // "fm.ohsofcHMED_DIL": function(n, o) {
    // if (n == false) {
    //     this.fm.ohsofcHMED_DIL_MG = null;
    //     this.fm.ohsofcHMED_DIL_SIG = null;
    //     this.fm.ohsofcHMED_DIL_UNIT = null;
    //     this.fm.ohsofcHMED_DIL_USE = null;
    //     this.fm.ohsofcHMED_DIL_TM = null;

    //   }
    // },

    // "fm.ohsofcDIET_DIET": function (n, o) {
    //   if (n == false) {
    //     this.fm.ohsofcDIET_DIETSP = null;
    //   }
    // },

    // "fm.ohsofcHMED_OTH": function (n, o) {
    //   if (n == false) {
    //     this.fm.oohsofcHMED_OTHSP = null;
    //   }
    // },
  },
};
</script>


<style scoped>
.divcontainer {
  padding: 10px !important;
}

.htitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  /* margin-top: -22px; */
  margin-left: 10px;
  width: 100px;
  background-color: #fafafa;
  display: flex;
  /* padding: 0 10px 0 10px; */
}
</style>
