<template >
  <!-- <div id="page-selection-controls"> -->
  <div class="divcontainer">
    <v-card class="mb-1">
      <v-layout row wrap ma-0>
        <v-spacer></v-spacer>

        <v-flex xs6 sm2 md2>
          <DatePick
            class="pa-2 ma-0"
            v-on:updateDate="updateOFODT"
            dtlabel="Admit Date"
            :dtmodel="fm.ohsofoDT"
          />
        </v-flex>
        <v-flex xs6 sm2 md2>
          <v-text-field
            v-model="fm.ohsofoTM"
            label="Admit Time"
            placeholder="__:__"
            prepend-icon="schedule"
            v-on="on"
          ></v-text-field>
        </v-flex>
        <div class="d-inline-flex flex-row">
          <v-checkbox :label="`Admit ward`" v-model="fm.ohsofoADMIT" class="ma-0"></v-checkbox>
        </div>
        <v-spacer></v-spacer>
      </v-layout>
    </v-card>

    <v-card class="pa-4">
      <h4>การรักษา</h4>
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`0.9% NaCI 1000mL Sig: IV drip`" v-model="fm.ohsofoNACL" class="ma-0"></v-checkbox>
        <v-combobox
          style="width:120px"
          class="ma-0 pa-0 pl-4 pb-2"
          :disabled="!fm.ohsofoNACL"
          :items="ivdrip"
          v-model="fm.ohsofoNACLSIG"
          :label="``"
          suffix="mL/h"
        ></v-combobox>

        <!-- <v-text-field
          :label="``"
          placeholder
          style="width:120px"
          :disabled="!fm.ohsofoNACL"
          suffix="mL/hr"
          v-model="fm.ohsofoNACLSIG"
          class="ma-0 pa-0 pl-4 pb-2"
        ></v-text-field>-->
      </div>
      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox
          :label="`On oxygen cannula 3 L/min if SpO2 < 94%`"
          v-model="fm.ohsofoOXYGEN"
          class="ma-0"
        ></v-checkbox>
      </div>
      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox
          :label="`ปรึกษานักกายภาพบำบัด กรณี Barthel index <15 หรือมีปัญหาการกลืน หรือ depression ขอทำ full rehabilitation program ต่อเนื่อง`"
          v-model="fm.ohsofoCONSULT_PT"
          class="ma-0"
        ></v-checkbox>
      </div>
      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox
          :label="`ปรึกษาทีม COC (Continuity of Care) เพื่อการดูแลต่อเนื่องที่บ้าน`"
          v-model="fm.ohsofoCONSULT_COC"
          class="ma-0"
        ></v-checkbox>
      </div>
    </v-card>

    <!-- card paging -->
  </div>
  <!-- end container -->
</template>

<script>
import DatePick from "@/components/DatePick";

export default {
  components: {
    DatePick,
  },
  layout: "hemoord_layout",

  data() {
    return {
      ADMIT_DATE: new Date().toISOString().substr(0, 10),
      ADMIT_DATE_DP: null,
      ivdrip: ["", 20, 40, 60, 80, 100, 120, 140, 150],
      fm: {},
      pt: {},
    };
  },
  methods: {
    async initialize(hn) {
      this.pt = this.$store.state.current_patient;
      this.fm = this.$store.state.current_hemo;
      this.$store.commit(
        "SET_TOOLBAR_TITLE",
        "Hemorrhagic Stroke > Order >  Order for One day<"
      );
      this.fm.ohsofoADMIT = true;
      console.log(this.fm);
    },
    openLinkTab(link) {
      this.$store.commit("SET_CURRENT_HEMO", this.fm);
      this.$router.push(`${link}`);
    },
    updateOFODT(value) {
      this.fm.ohsofoDT = value;
    },
  },
  created() {
    // var params = this.$router.currentRoute.query
    // console.log(params.hn)
    this.initialize();
  },
  computed: {},
  watch: {
    //   "fm.ohsofoNACL": function (n, o) {
    //     if (n == true) {
    //       // this.fm.ohsofoNACL = false
    //       // this.fm.ohsofoOXYGEN = false;
    //       // this.fm.ohsofoCONSULT_PT = false;
    //       // this.fm.ohsofoCONSULT_COC = false;
    //     } else {
    //       this.fm.ohsofoNACLSIG = "";
    //     }
    //   },
    //   "fm.ohsofoOXYGEN": function (n, o) {
    //     if (n == true) {
    //       // this.fm.ohsofoNACL = false;
    //       // //this.fm.ohsofoOXYGEN = false
    //       // this.fm.ohsofoCONSULT_PT = false;
    //       // this.fm.ohsofoCONSULT_COC = false;
    //     }
    //   },
    //   "fm.ohsofoCONSULT_PT": function (n, o) {
    //     if (n == true) {
    //       // this.fm.ohsofoNACL = false;
    //       // this.fm.ohsofoOXYGEN = false;
    //       // //this.fm.ohsofoCONSULT_PT = false
    //       // this.fm.ohsofoCONSULT_COC = false;
    //     }
    //   },
    //   "fm.ohsofoCONSULT_COC": function (n, o) {
    //     if (n == true) {
    //       // this.fm.ohsofoNACL = false;
    //       // this.fm.ohsofoOXYGEN = false;
    //       // this.fm.ohsofoCONSULT_PT = false;
    //       //this.fm.ohsofoCONSULT_COC = false
    //     }
    //   },
    // },
    "fm.ohsofoNACL": function (n, o) {
      if (n == false) {
        this.fm.ohsofoNACLSIG = '';
      }
    },
  },
};
</script>


<style scoped>
.divcontainer {
  padding: 10px !important;
}

.htitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  /* margin-top: -22px; */
  margin-left: 10px;
  width: 100px;
  background-color: #fafafa;
  display: flex;
  /* padding: 0 10px 0 10px; */
}
</style>
