<template>
  <!-- <div id="page-selection-controls"> -->
  <div class="divcontainer">
    <v-card>
      <template>
        <v-toolbar flat height="50px" color="red lighten-4">
          <h4>ข้อมูลผู้ป่วย Hemorrhagic Stroke</h4>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <h5>HN:{{pt.HN}} {{pt.TITLE}}{{pt.PTN_NAME}} {{pt.PTN_LNAME}}</h5>
        </v-toolbar>
      </template>
    </v-card>
    <v-card class="mt-2">
      <!-- <v-card-title> -->
      <!-- <template v-slot:top> -->
      <v-toolbar flat height="50px" color="red lighten-5">
        <v-toolbar-title>Refer Form:</v-toolbar-title>
        <!-- <v-divider class="mx-4" inset vertical></v-divider> -->
        <v-spacer></v-spacer>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-btn
          color="light-blue"
          dark
          class="mb-2"
          @click="newRefferalFrm()"
          v-on="on"
        >Add refer form</v-btn>
      </v-toolbar>
      <!-- </template> -->
      <!-- </v-card-title> -->

      <v-data-table :headers="rheaders" :items="referfrms">
        <template v-slot:item.action="{ item }">
          <v-icon small @click="deleteItem(item)">delete</v-icon>
          <v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
          <v-icon small class="mr-2" @click="printItem(item)">print</v-icon>
        </template>

        <template v-slot:item.hrefDT="{ item }">
          <span>{{formatDate(item.hrefDT)}}</span>
        </template>

       
      </v-data-table>
    </v-card>

    <v-card class="mt-2">
      <!-- <v-card-title> -->
      <!-- <template v-slot:top> -->
      <v-toolbar flat height="50px" color="red lighten-5">
        <v-toolbar-title>Order Form:</v-toolbar-title>
        <!-- <v-divider class="mx-4" inset vertical></v-divider> -->
        <v-spacer></v-spacer>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-btn color="light-blue" dark class="mb-2" @click="newOrderFrm()" v-on="on">Add order form</v-btn>
      </v-toolbar>
      <!-- </template> -->
      <!-- </v-card-title> -->
      <v-data-table :headers="oheaders" :items="orderfrms">
        <template v-slot:item.action="{ item }">
          <v-icon small @click="deleteOItem(item)">delete</v-icon>
          <v-icon small class="mr-2" @click="editOItem(item)">edit</v-icon>
          <v-icon small class="mr-2" @click="printOItem(item)">print</v-icon>
        </template>

        <template v-slot:item.order_date="{ item }">
          <span>{{formatDate(item.order_date)}}</span>
        </template>
         <template v-slot:item.ohspcDx="{item }">
          <span>{{btt(item.ohspcDx.data)}}</span>
        </template>
      </v-data-table>
    </v-card>
    <!-- card paging -->
<v-bottom-navigation color="blue lighten-1" v-model="bottomNav" hight="auto" fixed>
      <v-spacer></v-spacer>
      <v-btn to="/main/patients_list">
        <span>ย้อนกลับ</span>
        <v-icon>reply</v-icon>
      </v-btn>
    </v-bottom-navigation>
    <!-- <v-footer class="pa-2" height="50px" fixed>
      <v-laytout row style="width:100%;text-align:center">
        <v-btn color="primary" to="/main/patients_list">
          ย้อนกลับ
          <v-icon right dark>replay</v-icon>
        </v-btn>
      </v-laytout>
    </v-footer> -->
  </div>
  <!-- end container -->
</template>

<script>
import axios from "axios";
import moment from "moment";
import util from "@/util";

export default {
  data() {
    return {
      rheaders: [
        {
          text: "Actions",
          value: "action",
          sortable: false,
          align: "center",
          width: "120px"
        },
        { text: "H-Code", value: "hCODE", align: "center" },
        { text: "วันที่ส่งตัว", value: "hrefDT", align: "center" },
        { text: "รพ.ที่ส่งตัว", value: "hrefHOSP", align: "center" },
        { text: "นักกายภาพ", value: "hrefPHYSICIAN", align: "left" },
        { text: "แพทย์ผู้ส่ง", value: "hrefSTAFF", align: "left" }
      ],
      oheaders: [
        {
          text: "Actions",
          value: "action",
          sortable: false,
          align: "center",
          width: "120px"
        },
        { text: "Order date", value: "order_date", align: "center" },
        { text: "Dianosis", value: "ohspcDx", align: "center" },
        { text: "นักกายภาพ", value: "ohsPHYSICIAN", align: "left" }
      ],
      referfrms: [],
      orderfrms: [],
      newref_template: {
        HN: "",
        hCODE: "",
        hrefDT: new Date(),
        hrefHOSP: "none",
        hrefDXHS: null,
        hrefDXSR: null,
        hrefDXSL: null,
        hrefDXST_BAS: null,
        hrefDXST_THAL: null,
        hrefDXST_BRAIN: null,
        hrefDXST_CERE: null,
        hrefDXST_LOBAR: null,
        hrefDXST_LOBARSP: null,
        hrefDXST_INTRAV: null,
        hrefSC_HYPERT: null,
        hrefSC_CEREB: null,
        hrefSC_VASC: null,
        hrefSC_BLEED: null,
        hrefSC_ANTIC: null,
        hrefSC_BLEDTUMOR: null,
        hrefSC_HEMOR: null,
        hrefSC_HEMORCVT: null,
        hrefSC_OTH: null,
        hrefSC_OTHSP: null,
        hrefCTB: null,
        hrefCTB_RST: null,
        hrefCTAB: null,
        hrefCTAB_RST: null,
        hrefMRIAB: null,
        hrefMRIAB_RST: null,
        hrefECG: null,
        hrefECG_NSR: null,
        hrefECG_AA: null,
        hrefECG_OTH: null,
        hrefECG_OTHSP: null,
        hrefLAB_HCT: null,
        hrefLAB_WBC: null,
        hrefLAB_PLT: null,
        hrefLAB_CHOL: null,
        hrefLAB_TG: null,
        hrefLAB_LDL: null,
        hrefLAB_HDL: null,
        hrefLAB_FBS: null,
        hrefLAB_BUN: null,
        hrefLAB_CR: null,
        hrefRSK_NONE: null,
        hrefRSK_HTN: null,
        hrefRSK_DM: null,
        hrefRSK_OCP: null,
        hrefRSK_CKD: null,
        hrefRSK_SMOK: null,
        hrefRSK_ALC: null,
        hrefRSK_OTH: null,
        hrefRSK_OTHSP: null,
        hrefCOMP_NONE: null,
        hrefCOMP_OBS: null,
        hrefCOMP_BRAIN: null,
        hrefCOMP_RECUR: null,
        hrefCOMP_SEIZ: null,
        hrefCOMP_SEPSIS: null,
        hrefCOMP_PNEU: null,
        hrefCOMP_UTI: null,
        hrefCOMP_GIB: null,
        hrefCOMP_DVT: null,
        hrefCOMP_PRESS: null,
        hrefCOMP_AMI: null,
        hrefCOMP_OTH: null,
        hrefCOMP_OTHSP: null,
        hrefRST_IMPROVE: null,
        hrefRST_STABLE: null,
        hrefRST_WORSE: null,
        hrefRST_DEATH: null,
        hrefRST_CODBRAI: null,
        hrefRST_CODPNEU: null,
        hrefRST_CODMI: null,
        hrefRST_CODPE: null,
        hrefRST_CODUTI: null,
        hrefRST_CODSEPS: null,
        hrefRST_CODSP: null,
        hrefRST_DEATHSP: null,
        hrefRST_NEURO: null,
        hrefRST_MRS: null,
        hrefRST_BI: null,
        hrefRST_BP: null,
        hrefHMED_ENA: null,
        hrefHMED_ENA_MG: null,
        hrefHMED_ENA_SIG: null,
        hrefHMED_ENA_UNIT: null,
        hrefHMED_ENA_USE: null,
        hrefHMED_ENA_TM: null,
        hrefHMED_AML: null,
        hrefHMED_AML_MG: null,
        hrefHMED_AML_SIG: null,
        hrefHMED_AML_UNIT: null,
        hrefHMED_AML_USE: null,
        hrefHMED_AML_TM: null,
        hrefHMED_MAN: null,
        hrefHMED_MAN_MG: null,
        hrefHMED_MAN_SIG: null,
        hrefHMED_MAN_UNIT: null,
        hrefHMED_MAN_USE: null,
        hrefHMED_MAN_TM: null,
        hrefHMED_HYD: null,
        hrefHMED_HYD_MG: null,
        hrefHMED_HYD_SIG: null,
        hrefHMED_HYD_UNIT: null,
        hrefHMED_HYD_USE: null,
        hrefHMED_HYD_TM: null,
        hrefHMED_ATE: null,
        hrefHMED_ATE_MG: null,
        hrefHMED_ATE_SIG: null,
        hrefHMED_ATE_UNIT: null,
        hrefHMED_ATE_USE: null,
        hrefHMED_ATE_TM: null,
        hrefHMED_BIS: null,
        hrefHMED_BIS_MG: null,
        hrefHMED_BIS_SIG: null,
        hrefHMED_BIS_UNIT: null,
        hrefHMED_BIS_USE: null,
        hrefHMED_BIS_TM: null,
        hrefHMED_MET: null,
        hrefHMED_MET_MG: null,
        hrefHMED_MET_SIG: null,
        hrefHMED_MET_UNIT: null,
        hrefHMED_MET_USE: null,
        hrefHMED_MET_TM: null,
        hrefHMED_HCTZ: null,
        hrefHMED_HCTZ_MG: null,
        hrefHMED_HCTZ_SIG: null,
        hrefHMED_HCTZ_UNIT: null,
        hrefHMED_HCTZ_USE: null,
        hrefHMED_HCTZ_TM: null,
        hrefHMED_DOX: null,
        hrefHMED_DOX_MG: null,
        hrefHMED_DOX_SIG: null,
        hrefHMED_DOX_UNIT: null,
        hrefHMED_DOX_USE: null,
        hrefHMED_DOX_TM: null,
        hrefHMED_DIL: null,
        hrefHMED_DIL_MG: null,
        hrefHMED_DIL_SIG: null,
        hrefHMED_DIL_UNIT: null,
        hrefHMED_DIL_USE: null,
        hrefHMED_DIL_TM: null,
        hrefHMED_OTH: null,
        hrefHMED_OTHSP: null,
        hrefHMED_ADDNOTES: null,
        hrefPAD_ADMIT: null,
        hrefPAD_ADMIT_D: null,
        hrefPAD_KBP: null,
        hrefPAD_KBP_V: null,
        hrefPAD_PHYSICALTHERAPY: null,
        hrefPAD_GUIDELINE: null,
        hrefPAD_FUCOMHOSP: null,
        hrefPAD_FUGENHOSPOPD: null,
        hrefPAD_FUGENHOSP: null,
        hrefPAD_FUGENHOSP_APPDT: null,
        hrefPAD_APPGENHOSP: null,
        hrefPAD_APPGENHOSPDT: null,
        hrefPAD_AMMT: null,
        hrefPAD_AMMTSP: null,
        hrefPAD_AMMTDT: null,
        hrefPHYSICIAN: null,
        hrefPAD_ADDNOTES: null,
        hrefHS_MEMO: null,
        ADMIT_DATE: null,
        DISCHARGE_DATE: null,
        WARNING_DAY: null,
        hrefDXSB: null,
        hrefPAD_NEG: null,
        hrefSTAFF: null,
        hrefDXSBOTH: null
      },
      neword_template: {
        HN: "",
        ORDER_NO: 1,
        order_date: new Date(),
        ohspcDx: null,
        ohspcGCS_E: null,
        ohspcGCS_V: null,
        ohspcGCS_M: null,
        ohsofoDT: new Date(),
        ohsofoTM: null,
        ohsofoADMIT: null,
        ohsofoNACL: null,
        ohsofoNACLSIG: null,
        ohsofoOXYGEN: null,
        ohsofoCONSULT_PT: null,
        ohsofoCONSULT_COC: null,
        ohsofcDT: new Date(),
        ohsofcTM: null,
        ohsofcDIET_NPO: null,
        ohsofcDIET_DIET: null,
        ohsofcDIET_DIETSP: null,
        ohsofcACT_BR: null,
        ohsofcACT_AT: null,
        ohsofcACT_RVS: null,
        ohsofcACT_RIO: null,
        ohsofcACT_RNS: null,
        ohsofcACT_CBG: null,
        ohsofcHMED_ENA: null,
        ohsofcHMED_ENA_MG: null,
        ohsofcHMED_ENA_SIG: null,
        ohsofcHMED_ENA_UNIT: null,
        ohsofcHMED_ENA_USE: null,
        ohsofcHMED_ENA_TM: null,
        ohsofcHMED_AML: null,
        ohsofcHMED_AML_MG: null,
        ohsofcHMED_AML_SIG: null,
        ohsofcHMED_AML_UNIT: null,
        ohsofcHMED_AML_USE: null,
        ohsofcHMED_AML_TM: null,
        ohsofcHMED_MAN: null,
        ohsofcHMED_MAN_MG: null,
        ohsofcHMED_MAN_SIG: null,
        ohsofcHMED_MAN_UNIT: null,
        ohsofcHMED_MAN_USE: null,
        ohsofcHMED_MAN_TM: null,
        ohsofcHMED_HYD: null,
        ohsofcHMED_HYD_MG: null,
        ohsofcHMED_HYD_SIG: null,
        ohsofcHMED_HYD_UNIT: null,
        ohsofcHMED_HYD_USE: null,
        ohsofcHMED_HYD_TM: null,
        ohsofcHMED_ATE: null,
        ohsofcHMED_ATE_MG: null,
        ohsofcHMED_ATE_SIG: null,
        ohsofcHMED_ATE_UNIT: null,
        ohsofcHMED_ATE_USE: null,
        ohsofcHMED_ATE_TM: null,
        ohsofcHMED_BIS: null,
        ohsofcHMED_BIS_MG: null,
        ohsofcHMED_BIS_SIG: null,
        ohsofcHMED_BIS_UNIT: null,
        ohsofcHMED_BIS_USE: null,
        ohsofcHMED_BIS_TM: null,
        ohsofcHMED_MET: null,
        ohsofcHMED_MET_MG: null,
        ohsofcHMED_MET_SIG: null,
        ohsofcHMED_MET_UNIT: null,
        ohsofcHMED_MET_USE: null,
        ohsofcHMED_MET_TM: null,
        ohsofcHMED_HCTZ: null,
        ohsofcHMED_HCTZ_MG: null,
        ohsofcHMED_HCTZ_SIG: null,
        ohsofcHMED_HCTZ_UNIT: null,
        ohsofcHMED_HCTZ_USE: null,
        ohsofcHMED_HCTZ_TM: null,
        ohsofcHMED_DOX: null,
        ohsofcHMED_DOX_MG: null,
        ohsofcHMED_DOX_SIG: null,
        ohsofcHMED_DOX_UNIT: null,
        ohsofcHMED_DOX_USE: null,
        ohsofcHMED_DOX_TM: null,
        ohsofcHMED_DIL: null,
        ohsofcHMED_DIL_MG: null,
        ohsofcHMED_DIL_SIG: null,
        ohsofcHMED_DIL_UNIT: null,
        ohsofcHMED_DIL_USE: null,
        ohsofcHMED_DIL_TM: null,
        ohsofcHMED_OTH: null,
        ohsofcHMED_OTHSP: null,
        ohsPHYSICIAN: null,
        ohsohs_MEMO: null
      }
    };
  },
  computed: {},
  watch: {},

  created() {
    var params = this.$router.currentRoute.query;
    console.log(params.hn);
    this.initialize(params.hn);
  },
  methods: {
    async initialize(hn) {
      this.pt = this.$store.state.current_patient;

      const resris = await axios.get(
        this.$store.state.api_url + "/referral_hs/" + this.pt.HN
      );
      this.referfrms = resris.data.data;
      console.log(this.referfrms);

      const resois = await axios.get(
        this.$store.state.api_url + "/order_hs/" + this.pt.HN
      );
      this.orderfrms = resois.data.data;
    },
    openLinkWithParam(link, paramname, param) {
      this.$router.push(`${link}?${paramname}=${param}`);
    },
    editItem(item) {
      console.log(item);
      this.$store.commit("SET_FORM_STATE", "edit");
      item = util.fillBoolean(item);

      this.$store.commit("SET_CURRENT_HEMO", item);
      this.openLinkWithParam("/hemorrhagic_stroke/refferral01", "hn", item.HN);
    },
    editOItem(item) {
      console.log(item);
      this.$store.commit("SET_FORM_STATE", "edit");
      item = util.fillBoolean(item);

      this.$store.commit("SET_CURRENT_HEMO", item);
      this.openLinkWithParam("/hemorrhagic_stroke/h_order01", "hn", item.HN);
    },
  
    async newRefferalFrm() {
      let newForm = this.newref_template;
      newForm.HN = this.pt.HN;
      //get iCODE
      newForm.hrefHOSP = "none";
      const res = await axios.get(
        this.$store.state.api_url + "/referral_hcode/"
      );
      console.log("hCODE--->");
      console.log(res.data);
      newForm.hCODE = res.data.data.hCODE;
      this.$store.commit("SET_FORM_STATE", "new");
      this.$store.commit("SET_CURRENT_HEMO", newForm);
      this.openLinkWithParam(
        "/hemorrhagic_stroke/refferral01",
        "hn",
        this.pt.HN
      );
    },
    async newOrderFrm() {
      let newForm = this.neword_template;
      newForm.HN = this.pt.HN;
      //get iCODE
      // newForm.irefHOSP = "none";
      const res = await axios.get(
        this.$store.state.api_url + "/hs_order_no/" + this.pt.HN
      );
      console.log("ORDER_NO--->");
      console.log(res.data);
      newForm.ORDER_NO = res.data.data.ORDER_NO;
      this.$store.commit("SET_FORM_STATE", "new");
      this.$store.commit("SET_CURRENT_HEMO", newForm);

       let curref = this.referfrms[this.referfrms.length-1];
       this.$store.commit("SET_CURRENT_REF", util.fillBoolean(curref)) ;
       
      this.openLinkWithParam("/hemorrhagic_stroke/h_order01", "hn", this.pt.HN);
    },
     printItem(item) {
      this.$store.commit("SET_FORM_STATE", "print");
      item = util.fillBoolean(item);

      this.$store.commit("SET_CURRENT_HEMO", item);
      this.openLinkWithParam("/report/hs_refer_rpt", "hn", this.pt.HN);
    },
    printOItem(item) {
      this.$store.commit("SET_FORM_STATE", "print");
      item = util.fillBoolean(item);
      this.$store.commit("SET_CURRENT_HEMO", item);
      this.openLinkWithParam("/report/hs_order_rpt", "hn", this.pt.HN);
    },
    // editItem(item) {
    //   this.editedIndex = this.staffs.indexOf(item)
    //   this.editedItem = Object.assign({}, item)
    //   this.dialog = true
    // },

    async deleteItem(item) {
      const index = this.referfrms.indexOf(item)
       let cf= confirm('Are you sure you want to delete this item?') 
      if(cf){
          this.referfrms.splice(index, 1)
          const res = await axios.delete(this.$store.state.api_url + "/referral_hs/"+ item.HN+"/" + item.hCODE);
          console.log(res.data)
      }
    },
    async deleteOItem(item) {
      const index = this.orderfrms.indexOf(item)
       let cf= confirm('Are you sure you want to delete this item?') 
      if(cf){
          this.orderfrms.splice(index, 1)
          const res = await axios.delete(this.$store.state.api_url + "/order_hs/"+ item.HN+"/"+item.ORDER_NO);
          console.log(res.data)
      }
    },
    btt(item) {
      return util.blobToText(item);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.staffs[this.editedIndex], this.editedItem);
      } else {
        this.staffs.push(this.editedItem);
      }
      this.close();
    },
    formatDate: function(dt) {
      // console.log(dt.substr(0,10));
      return (
        moment(dt)
          .locale("th")
          .format("DD MMM ") +
        (parseInt(
          moment(dt)
            .locale("th")
            .format("YYYY")
        ) +
          543)
      );

      // you dont have to use fromNow() it's just an example
    }
  }
};
</script>


<style scoped>
.divcontainer {
  padding: 10px !important;
}

.htitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  /* margin-top: -22px; */
  margin-left: 10px;
  width: 100px;
  background-color: #fafafa;
  display: flex;
  /* padding: 0 10px 0 10px; */
}
</style>
