<template >
  <!-- <div id="page-selection-controls"> -->
  <div>
    <!-- <v-card > -->
    <!-- <template v-slot:top> -->
    <!-- <v-toolbar flat fixed height="50px" color="red lighten-4" class="pt-1 mb-1">
      <h5>Hemorrhagic Stroke > Referral > Stroke dianosis</h5>

      <v-spacer></v-spacer>
      <v-divider class="mx-4" inset vertical></v-divider>
      <h5>HN:{{pt.HN}} {{pt.TITLE}}{{pt.PTN_NAME}} {{pt.PTN_LNAME}}</h5>
    </v-toolbar> -->
    <!-- </template> -->
    <!-- </v-card> -->
    <!-- <div class="d-flex flex-row" > -->
    <v-layout wrap>
      <v-flex xs12 sm3 md3>
        <v-card outlined class="pl-4 pb-md-12">
          <h4 class="htitle">Diagnosis*</h4>
          <v-layout d-flex row wrap ma-0>
            <v-checkbox class="ma-0 pa-0" :label="`Hemorrhagic stroke`" v-model="fm.hrefDXHS"></v-checkbox>
          </v-layout>
        </v-card>
      </v-flex>

      <v-flex xs12 sm3 md3>
        <v-card flat outlined class="pb-md-11 pl-4">
          <h4 class="htitle">Side*</h4>
          <v-layout row wrap ma-0>
            
            <v-checkbox :label="`Right`" v-model="fm.hrefDXSR" class="ma-0" ></v-checkbox>
            
            <v-checkbox :label="`Both`" v-model="fm.hrefDXSBOTH" class="ma-0" ></v-checkbox>
          </v-layout>
        </v-card>
      </v-flex>

      <v-flex xs12 sm12 md6>
        <v-card flat outlined class="pl-4">
          <h4 class="htitle">Location of hemorrhage</h4>
          <v-layout row wrap ma-0>
            <v-checkbox :label="`Basal ganglion`" v-model="fm.hrefDXST_BAS" class="ma-0" ></v-checkbox>
            <v-checkbox :label="`Thaiamus`" v-model="fm.hrefDXST_THAL" class="ma-0" ></v-checkbox>
            <v-checkbox :label="`Brainstem`" v-model="fm.hrefDXST_BRAIN" class="ma-0" ></v-checkbox>
            <v-checkbox :label="`Cerebellum`" v-model="fm.hrefDXST_CERE" class="ma-0" ></v-checkbox>
            <v-checkbox :label="`Intraventricular`" v-model="fm.hrefDXST_INTRAV" class="ma-0" ></v-checkbox>
            <!-- <v-checkbox :label="`Sepsis`" v-model="hrefRSK_SMOK" class="ma-0"></v-checkbox> -->
            <div class="d-flex flex-row"> <v-checkbox :label="`Lobar; Specify`" v-model="fm.hrefDXST_LOBAR" class="ma-0" ></v-checkbox>
              <v-text-field :label="`Result`" :disabled="!fm.hrefDXST_LOBAR" v-model="fm.hrefDXST_LOBARSP" class="ma-0 pa-0 pl-2" ></v-text-field>
            </div>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>

    <v-card class="pa-4" outlined flat>
      <h4>Subtypes classification*</h4>

      <v-layout row wrap>
        <div class="pl-4">
          <v-checkbox :label="`Hypertensive hemorrhage`" v-model="fm.hrefSC_HYPERT" class="ma-0" ></v-checkbox>
          <v-checkbox :label="`Cerebal amyloid angiopathy`" v-model="fm.hrefSC_CEREB" class="ma-0" ></v-checkbox>
          <v-checkbox :label="`Vascular malformation e.g. AVM, ruptured aneurysm`" v-model="fm.hrefSC_VASC" class="ma-0" ></v-checkbox>
          <v-checkbox :label="`Bleeding diathesis e.g. hematologic disease`" v-model="fm.hrefSC_BLEED" class="ma-0" ></v-checkbox>
          <v-checkbox :label="`Anticoagulant-associated hemorrhage`" v-model="fm.hrefSC_ANTIC" class="ma-0" ></v-checkbox>
          <v-checkbox :label="`Bleeding tumor`" v-model="fm.hrefSC_BLEDTUMOR" class="ma-0" ></v-checkbox>
          <v-checkbox :label="`Hemorhagic transformation of ischemic stroke`" v-model="fm.hrefSC_HEMOR" class="ma-0" ></v-checkbox>
          <v-checkbox :label="`Hemorrhagic infaraction from cerebral venous thrombois`" v-model="fm.hrefSC_HEMORCVT" class="ma-0" ></v-checkbox>
          <v-layout row ma-0>
            <v-checkbox md6 sm12 :label="`Other`" v-model="fm.hrefSC_OTH" class="ma-0" ></v-checkbox>
            <v-text-field md6 sm12 :label="`specify`" :disabled="!fm.hrefSC_OTH" v-model="fm.hrefSC_OTHSP" class="ma-0 pa-0 pl-2 pr-2 pb-2" ></v-text-field>
          </v-layout>
        </div>
      </v-layout>
    </v-card>

    <!-- end TOAST -->

    <!-- <v-footer height="auto" class="white pl-2 pr-2" fixed>
      <v-layout row wrap pl-2 pr-2>
        <v-btn flat small class="mr-1" to="/hemorrhagic_stroke/refferral01">Stroke diagnosis</v-btn>
        <v-btn flat small class="mr-1" to="/hemorrhagic_stroke/refferral02">Diagnosis investigations</v-btn>
        <v-btn flat small class="mr-1" to="/hemorrhagic_stroke/refferral03">Condition before referal</v-btn>
        <v-btn flat small class="mr-1" to="/hemorrhagic_stroke/refferral04">Plan after discharge</v-btn>
        <v-spacer></v-spacer>
        <v-divider class="mx-4" inset vertical></v-divider>

        <v-btn
          flat
          small
          color="blue lighten-1"
          dark
          to="/hemorrhagic_stroke/hemorrhagic_main"
        >ย้อนกลับ</v-btn>
        <v-btn
          flat
          small
          class="ml-2 mr-2"
          color="primary"
          to="/hemorrhagic_stroke/hemorrhagic_main"
        >บันทึก</v-btn>
      </v-layout>
    </v-footer> -->
    <!-- card paging -->
  </div>
  <!-- end container -->
</template>

<script>
export default {
  layout: "hemoref_layout",
  data() {
    return {
      fm: {},
      pt:{},
      p: {
        HN: "b5bdae0aae38abb99457a9f402cbdb7b",
        TITLE: "นาง",
        PTN_NAME: "5201d047",
        PTN_LNAME: "0a800003",
        DOB: "2017-08-26T22:17:53.000Z",
        CITIZEN_ID: "9ea0ed3161993f189c2b42d220adfc50",
        GENDER: "หญิง",
        HOSP_REFER: "รพ. เทิง",
        ADMIT_DATE: null,
        DISCHARGE_DATE: null,
        WARNING_DAY: null
      }
    };
  },
   methods: {
    async initialize(hn) {
      this.pt = this.$store.state.current_patient;
      this.fm = this.$store.state.current_hemo;
       this.$store.commit("SET_TOOLBAR_TITLE","Hemorrhagic Stroke > Referral > Stroke Dianosis");
       this.fm.hrefDXHS=true;
      console.log(this.fm);
    },
    openLinkTab(link) {
      this.$store.commit("SET_CURRENT_HEMO", this.fm);
      this.$router.push(`${link}`);
    }
  },
  created() {
    // var params = this.$router.currentRoute.query
    // console.log(params.hn)
    this.initialize();
  },
  computed: {},
  watch: {
    "fm.hrefDXST_LOBAR": function(n, o) {
      if (n == false) {
        this.fm.hrefDXST_LOBARSP = null;

      }
    },
    

    "fm.hrefDXSR": function(n, o) {
      if (n == true) {
        (this.fm.hrefDXSL = false), (this.fm.hrefDXSBOTH = false);
      }
    },
    "fm.hrefDXSL": function(n, o) {
      if (n == true) {
        (this.fm.hrefDXSR = false), (this.fm.hrefDXSBOTH = false);
      }
    },
    "fm.hrefDXSBOTH": function(n, o) {
      if (n == true) {
        (this.fm.hrefDXSR = false), (this.fm.hrefDXSL = false);
      }
    },
    //========== Subtypes classification checkbox setting ==============
    "fm.hrefSC_HYPERT": function(n, o) {
      if (n == true) {
        // this.fm.hrefSC_HYPERT = false;
        this.fm.hrefSC_CEREB = false;
        this.fm.hrefSC_VASC = false;
        this.fm.hrefSC_BLEED = false;
        this.fm.hrefSC_ANTIC = false;
        this.fm.hrefSC_BLEDTUMOR = false;
        this.fm.hrefSC_HEMOR = false;
        this.fm.hrefSC_HEMORCVT = false;
        this.fm.hrefSC_OTH = false;
      }
    },
    "fm.hrefSC_CEREB": function(n, o) {
      if (n == true) {
        this.fm.hrefSC_HYPERT = false;
        // this.fm.hrefSC_CEREB = false;
        this.fm.hrefSC_VASC = false;
        this.fm.hrefSC_BLEED = false;
        this.fm.hrefSC_ANTIC = false;
        this.fm.hrefSC_BLEDTUMOR = false;
        this.fm.hrefSC_HEMOR = false;
        this.fm.hrefSC_HEMORCVT = false;
        this.fm.hrefSC_OTH = false;
      }
    },
    "fm.hrefSC_VASC": function(n, o) {
      if (n == true) {
        this.fm.hrefSC_HYPERT = false;
        this.fm.hrefSC_CEREB = false;
        // this.fm.hrefSC_VASC = false;
        this.fm.hrefSC_BLEED = false;
        this.fm.hrefSC_ANTIC = false;
        this.fm.hrefSC_BLEDTUMOR = false;
        this.fm.hrefSC_HEMOR = false;
        this.fm.hrefSC_HEMORCVT = false;
        this.fm.hrefSC_OTH = false;
      }
    },
    "fm.hrefSC_BLEED": function(n, o) {
      if (n == true) {
        this.fm.hrefSC_HYPERT = false;
        this.fm.hrefSC_CEREB = false;
        this.fm.hrefSC_VASC = false;
        // this.fm.hrefSC_BLEED = false;
        this.fm.hrefSC_ANTIC = false;
        this.fm.hrefSC_BLEDTUMOR = false;
        this.fm.hrefSC_HEMOR = false;
        this.fm.hrefSC_HEMORCVT = false;
        this.fm.hrefSC_OTH = false;
      }
    },
    "fm.hrefSC_ANTIC": function(n, o) {
      if (n == true) {
        this.fm.hrefSC_HYPERT = false;
        this.fm.hrefSC_CEREB = false;
        this.fm.hrefSC_VASC = false;
        this.fm.hrefSC_BLEED = false;
        // this.fm.hrefSC_ANTIC = false;
        this.fm.hrefSC_BLEDTUMOR = false;
        this.fm.hrefSC_HEMOR = false;
        this.fm.hrefSC_HEMORCVT = false;
        this.fm.hrefSC_OTH = false;
      }
    },
    "fm.hrefSC_BLEDTUMOR": function(n, o) {
      if (n == true) {
        this.fm.hrefSC_HYPERT = false;
        this.fm.hrefSC_CEREB = false;
        this.fm.hrefSC_VASC = false;
        this.fm.hrefSC_BLEED = false;
        this.fm.hrefSC_ANTIC = false;
        // this.fm.hrefSC_BLEDTUMOR = false;
        this.fm.hrefSC_HEMOR = false;
        this.fm.hrefSC_HEMORCVT = false;
        this.fm.hrefSC_OTH = false;
      }
    },
    "fm.hrefSC_HEMOR": function(n, o) {
      if (n == true) {
        this.fm.hrefSC_HYPERT = false;
        this.fm.hrefSC_CEREB = false;
        this.fm.hrefSC_VASC = false;
        this.fm.hrefSC_BLEED = false;
        this.fm.hrefSC_ANTIC = false;
        this.fm.hrefSC_BLEDTUMOR = false;
        // this.fm.hrefSC_HEMOR = false;
        this.fm.hrefSC_HEMORCVT = false;
        this.fm.hrefSC_OTH = false;
      }
    },
    "fm.hrefSC_HEMORCVT": function(n, o) {
      if (n == true) {
        this.fm.hrefSC_HYPERT = false;
        this.fm.hrefSC_CEREB = false;
        this.fm.hrefSC_VASC = false;
        this.fm.hrefSC_BLEED = false;
        this.fm.hrefSC_ANTIC = false;
        this.fm.hrefSC_BLEDTUMOR = false;
        this.fm.hrefSC_HEMOR = false;
        // this.fm.hrefSC_HEMORCVT = false;
        this.fm.hrefSC_OTH = false;
      }
    },
    "fm.hrefSC_OTH": function(n, o) {
      if (n == true) {
        this.fm.hrefSC_HYPERT = false;
        this.fm.hrefSC_CEREB = false;
        this.fm.hrefSC_VASC = false;
        this.fm.hrefSC_BLEED = false;
        this.fm.hrefSC_ANTIC = false;
        this.fm.hrefSC_BLEDTUMOR = false;
        this.fm.hrefSC_HEMOR = false;
        this.fm.hrefSC_HEMORCVT = false;
        // this.fm.hrefSC_OTH = false;
      }
      if (n == false){
        this.fm.hrefSC_OTHSP= null;
      }
    },
  },

};
</script>


<style scoped>
/* .divcontainer {
  padding: 10px !important;
}

.htitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-top: -22px;
  margin-left: 10px;
  width: 100px;
  background-color: #fafafa;
  display: flex;
  padding: 0 10px 0 10px;
} */
.htitle {
  padding-left: 4px;
}
.v-messages {
  min-height: 0 !important;
}
.custom-text-field.v-text-field.v-text-field--enclosed .v-input__slot {
  padding: 0 !important;
}
</style>
