<template>
  <!-- <div id="page-selection-controls"> -->
  <div class="divcontainer">
   
    <v-card class="pa-4" outlined flat>
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`Admit ต่อที่ รพช. เป็นเวลา`" v-model="fm.hrefPAD_ADMIT" class="ma-0"></v-checkbox>
        <v-text-field :label="`จำนวนวัน หรือ ช่วง`" type="number" placeholder="2 หรือ 1-2" style="width:120px" :disabled="!fm.hrefPAD_ADMIT" suffix="วัน" v-model="fm.hrefPAD_ADMIT_D" class="ma-0 pa-0 pl-4 pb-2" ></v-text-field>
      </div>

      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`Keep BP น้อยกว่า`" v-model="fm.hrefPAD_KBP" class="ma-0"></v-checkbox>
        <v-combobox :items="hrefPAD_KBP_LIST" :disabled="!fm.hrefPAD_KBP" placeholder="ระบุ" v-model="fm.hrefPAD_KBP_V" label class="ma-0 pa-0 pl-1 pr-1" ></v-combobox>
        <span class="mt-1" style="color:gray" >mmHg</span>
      </div>

      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`กายภาพบำบัดต่อเนื่องเพื่อฟื้นฟูสมรรถภาพที่ รพช รวมทั้งการกลืน`" v-model="fm.hrefPAD_PHYSICALTHERAPY" class="ma-0" ></v-checkbox>
      </div>

      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`แนะนำการปฏิบัติและควบคุมปัจจัยเสี่ยงต่อโรคหลอดเลือดสมอง เช่น หยุดสูบบุหรี่, หยุดดื่มสุรา และควบคุมความดันให้เหมาะสม`" v-model="fm.hrefPAD_GUIDELINE" class="ma-0" ></v-checkbox>
      </div>

      

      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`F/U เพื่อรับยาต่อเนื่องที่ รพช. ในระยะยาว`" v-model="fm.hrefPAD_FUGENHOSP" class="ma-0" ></v-checkbox>
      </div>

  

      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox
          :label="`นัดตรวจเพิ่มเติมที่ รพศ. เชียงราย นัดตรวจวันที่` "
          
          v-model="fm.hrefPAD_APPGENHOSP"
          class="ma-0"
        ></v-checkbox>
         <v-flex class="dateTop">
          <DatePick :isEditable="!fm.hrefPAD_APPGENHOSP" class="ma-0" v-on:updateDate="updatePAD_APPGENHOSPDT" dtlabel="วันที่นัด*" :dtmodel="fm.hrefPAD_APPGENHOSPDT" :dtmax="maxDate" />
        </v-flex>
      </div>
      

      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`F/U ที่ รพศ. เชียงรายเพื่อรับยาต่อเนื่อง ที่ OPD`" v-model="fm.hrefPAD_FUGENHOSP" class="ma-0" ></v-checkbox>
        <v-text-field :label="``" placeholder style="width:180px" :disabled="!fm.hrefPAD_FUGENHOSP" v-model="fm.hrefPAD_FUGENHOSPOPD" class="ma-0 pa-0 pl-4 pb-2" ></v-text-field>
        <span class="mt-1" style="color:gray" >โดยมีวันนัดพบแพทย์ครั้งต่อไปวันที่</span>

         <v-flex class="dateTop">
          <DatePick :isEditable="!fm.hrefPAD_FUGENHOSP" class="ma-0" v-on:updateDate="updatePAD_FUGENHOSP_APPDT" dtlabel="วันที่นัด*" :dtmodel="fm.hrefPAD_FUGENHOSP_APPDT" :dtmax="maxDate" />
        </v-flex>
      </div>

      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`นัดตรวจ`" v-model="fm.hrefPAD_AMMT" class="ma-0"></v-checkbox>
        <v-text-field :label="``" placeholder style="width:250px" :disabled="!fm.hrefPAD_AMMT" v-model="fm.hrefPAD_AMMTSP" class="ma-0 pa-0 pl-4 pb-2" ></v-text-field>
        <span class="mt-1" style="color:gray" >ที่ รพศ. เชียงราย วันที่</span>

         <v-flex class="dateTop">
          <DatePick :isEditable="!fm.hrefPAD_AMMT" class="ma-0" v-on:updateDate="updatePAD_AMMTDT" dtlabel="วันที่นัด*" :dtmodel="fm.hrefPAD_AMMTDT" :dtmax="maxDate" />
        </v-flex>
      </div>

      <br />
      <div class="d-inline-flex flex-row">
        <v-checkbox :label="`ญาติปฏิเสธการรักษา ขอ palliative care`" v-model="fm.hrefPAD_AMMTDT" class="ma-0" ></v-checkbox>
      </div>

      <br />
      <h5 class="pl-2 pt-1">Additional notes</h5>
      <br />

      <div class="d-flex flex-row">
        <v-textarea v-model="fm.hrefPHYSICIAN" filled auto-grow label="ระบุ" rows="1" row-height="2" class="pa-0 pl-3 ma-0" ></v-textarea>
      </div>
    </v-card>

    
  </div>
  <!-- end container -->
</template>

<script>
import moment from "moment";
import util from "@/util";
import DatePick from "@/components/DatePick";

export default {
  components: {
    DatePick
  },
  layout: "hemoref_layout",
  data() {
    return {
      test: 0,
      minDate: moment().format("YYYY-MM-DD"),
      maxDate: moment()
        .add(6, "months")
        .format("YYYY-MM-DD"),
      mask: "###/###",
      irefPAD_KBP: "",
      hrefPAD_KBP_LIST: ["180/90","160/90","140/90", "130/80"],
      irefPAD_HOLDANTIHYPER_WK: null,
      irefPAD_HOLDANTIHYPER_WK_LIST: [2, 4],
      ADMIT_DATE: new Date().toISOString().substr(0, 10),
      ADMIT_DATE_DP: null,

      fm: {},
      pt: {}
    };
  },
  
    methods: {
    async initialize(hn) {
      this.pt = this.$store.state.current_patient;
      this.fm = this.$store.state.current_hemo;
       this.$store.commit("SET_TOOLBAR_TITLE","Hemorrhagic Stroke > Referral > Plan After Discharge");
      console.log(this.fm);
    },
    openLinkTab(link) {
      this.$store.commit("SET_CURRENT_HEMO", this.fm);
      this.$router.push(`${link}`);
    },
    updatePAD_HOLDANTIPC_APPDT(value) {
      this.fm.hrefPAD_HOLDANTIPC_APPDT = value;
    },
    updatePAD_APPGENHOSPDT(value) {
      this.fm.hrefPAD_APPGENHOSPDT = value;
    },
    updatePAD_FUGENHOSP_APPDT(value) {
      this.fm.hrefPAD_FUGENHOSP_APPDT = value;
    },
    updatePAD_AMMTDT(value) {
      this.fm.hrefPAD_AMMTDT = value;
    }
  },
  created() {
    // var params = this.$router.currentRoute.query
    // console.log(params.hn)
    this.initialize();
  },
  computed: {},
  watch: {
    // ============================= Check =====================
    "fm.hrefPAD_ADMIT": function(n, o) {
      if (n == false) {
        this.fm.hrefPAD_ADMIT_D = null;
      }
    },
    "fm.hrefPAD_KBP": function(n, o) {
      if (n == false) {
        this.fm.hrefPAD_KBP_V = null;
      }
    },
     "fm.hrefPAD_APPGENHOSP": function(n, o) {
      if (n == false) {
        this.fm.hrefPAD_APPGENHOSPDT = null;
      }
    },
     "fm.hrefPAD_AMMT": function(n, o) {
      if (n == false) {
        this.fm.hrefPAD_AMMTSP = null;
        this.fm.hrefPAD_AMMTDT = null;
      }
    },
    "fm.hrefPAD_FUGENHOSP": function(n, o) {
      if (n == false) {
        this.fm.hrefPAD_FUGENHOSPOPD=null;
        this.fm.hrefPAD_FUGENHOSP_APPDT = null;
      } 
    },
   
  },
  // ===================== DATE APPDT ====================


};
</script>


<style scoped>
.dateTop {
  margin-top: -1.1em !important;
}
.divcontainer {
  /* padding: 10px !important; */
}

.divcontainer h5 {
  color: rgba(0, 0, 0, 0.54);
}

.htitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  /* margin-top: -22px; */
  margin-left: 10px;
  /* width: 100px; */
  background-color: #fafafa;
  display: flex;
  /* padding: 0 10px 0 4px; */
}

/* .v-input__slot{
  margin-bottom: 0px !important;
}

.v-text-field{
    padding-top: 4px !important;
} */
</style>
