<template>
  <!-- <div id="page-selection-controls"> -->
  <div class="divcontainer">
   
    <v-layout row wrap ma-0>
      <!-- Col 1 Diagnnostic -->
      <!-- <v-flex xs12 sm3 md2>
        <v-card class="pb-md-11"  flat outlined>
          <h4 class="htitle">rtPA *</h4>
          
          <v-layout row wrap pl-4>
            <v-checkbox :label="`Yes`" v-model="irefRSK_NONE" class="ma-0"></v-checkbox>
            <v-checkbox :label="`No`" v-model="irefRSK_HTN" class="ma-0"></v-checkbox>
          </v-layout>
        </v-card>
      </v-flex>-->

      <!-- Col 2 Labs -->
      <v-flex xs12 sm9 md6>
        <v-card class="pb-md-11" flat outlined>
          <h4 class="htitle">Result*</h4>
          <v-layout row wrap pl-4>
            <v-checkbox :label="`Improve`" v-model="fm.hrefRST_IMPROVE" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Stable`" v-model="fm.hrefRST_STABLE" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Worse`" v-model="fm.hrefRST_WORSE" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Death`" v-model="fm.hrefRST_DEATH" class="ma-0"></v-checkbox>
          </v-layout>
        </v-card>
      </v-flex>

      <!-- col 3 Risk of stroke -->
      <v-flex xs12 sm12 md6>
        <v-card flat outlined>
          <h4 class="htitle">Immediate cause of death*</h4>
          <v-layout row wrap ma-0>
            <v-checkbox
              :label="`Brain herniation`"
              :disabled="!fm.hrefRST_DEATH"
              v-model="fm.hrefRST_CODBRAI"
              class="ma-0"
            ></v-checkbox>
            <v-checkbox
              :label="`Pneumonia`"
              :disabled="!fm.hrefRST_DEATH"
              v-model="fm.hrefRST_CODPNEU"
              class="ma-0"
            ></v-checkbox>
            <v-checkbox
              :label="`MI`"
              :disabled="!fm.hrefRST_DEATH"
              v-model="fm.hrefRST_CODMI"
              class="ma-0"
            ></v-checkbox>
            <v-checkbox
              :label="`PE`"
              :disabled="!fm.hrefRST_DEATH"
              v-model="fm.hrefRST_CODPE"
              class="ma-0"
            ></v-checkbox>
            <v-checkbox
              :label="`UTI`"
              :disabled="!fm.hrefRST_DEATH"
              v-model="fm.hrefRST_CODUTI"
              class="ma-0"
            ></v-checkbox>
            <v-checkbox
              :label="`Sepsis`"
              :disabled="!fm.hrefRST_DEATH"
              v-model="fm.hrefRST_CODSEPS"
              class="ma-0"
            ></v-checkbox>
            <div class="d-flex flex-row">
              <v-checkbox
                :label="`Specify`"
                :disabled="!fm.hrefRST_DEATH"
                v-model="fm.hrefRST_CODSP"
                class="ma-0"
              ></v-checkbox>
              <v-text-field
                :label="`Result`"
                :disabled="!fm.hrefRST_CODSP"
                v-model="fm.hrefRST_DEATHSP"
                class="ma-0 pa-0 pl-2"
              ></v-text-field>
            </div>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- <v-layout row wrap ma-0>
      <v-flex xs12 sm6 md4>
        <v-card class="pl-2" flat outlined>
          <v-checkbox :label="`Weakness`" style="width:80px" v-model="irefRSK_DYS" class="ma-0"></v-checkbox>
          <v-layout row wrap pl-4>
            <v-checkbox
              md4
              sm12
              :label="`Right`"
              :disabled="irefDXSMM"
              v-model="irefDXSR"
              class="ma-0 pa-0 xd-10"
            ></v-checkbox>
            <v-checkbox
              md4
              sm12
              :label="`Left`"
              :disabled="irefDXSMM"
              v-model="irefDXSL"
              class="ma-0 pa-0"
            ></v-checkbox>
            <v-checkbox
              md4
              sm12
              :label="`Both`"
              :disabled="irefDXSMM"
              v-model="irefDXSL"
              class="ma-0 pa-0"
            ></v-checkbox>
            <v-text-field
              
              :label="`MRC grade`"
              type="number"
              inputmode="numeric"
              v-model="irefLAB_HCT"
              class="ma-0 pa-0 pl-2 pr-4"
              data-numeric-input
            ></v-text-field>
          </v-layout>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6 md4>
        <v-card class="pl-2 pb-2  " flat outlined>
          <v-layout row wrap ma-0>
            <v-flex sm12 md12>
            <v-checkbox :label="`Parathesia`" style="width:80px" v-model="irefRSK_DYS" class="ma-0"></v-checkbox>
            </v-flex>
            <v-flex sm12 md12>
            <v-layout row wrap ma-0 pl-8 pt-1>
              <v-checkbox
                :label="`Right`"
                :disabled="irefDXSMM"
                v-model="irefDXSR"
                class="ma-0 pa-0"
              ></v-checkbox>
              <v-checkbox
                :label="`Left`"
                :disabled="irefDXSMM"
                v-model="irefDXSL"
                class="ma-0 pa-0"
              ></v-checkbox>
              <v-checkbox
                :label="`Both`"
                :disabled="hrefDXSMM"
                v-model="irefDXSL"
                class="ma-0 pa-0"
              ></v-checkbox>
            </v-layout>
            </v-flex>
          </v-layout>
          <v-checkbox :label="`Dysavthia`" v-model="irefRSK_DYS" class="ma-0"></v-checkbox>
        </v-card>
      </v-flex>

      <v-flex xs12 sm12 md4>
        <v-card class="pl-2" flat outlined>
          <v-layout row wrap ma-0>
            <v-flex sm3 md12>
              <v-checkbox :label="`Facial weakness`" v-model="irefRSK_DYS" class="ma-0"></v-checkbox>
            </v-flex>
            <v-flex sm5 md12>
              <v-layout row wrap pl-4>
                <v-checkbox
                  :label="`Right`"
                  :disabled="irefDXSMM"
                  v-model="irefDXSR"
                  class="ma-0 pa-0"
                ></v-checkbox>
                <v-checkbox
                  :label="`Left`"
                  :disabled="irefDXSMM"
                  v-model="irefDXSL"
                  class="ma-0 pa-0"
                ></v-checkbox>
                <v-checkbox
                  :label="`Both`"
                  :disabled="irefDXSMM"
                  v-model="irefDXSL"
                  class="ma-0 pa-0"
                ></v-checkbox>
              </v-layout>
            </v-flex>
            <v-flex sm4 md12>
              <v-layout row wrap  ma-0>
                <v-checkbox
                  :label="`อื่นๆ`"
                  :disabled="irefDXSMM"
                  v-model="irefDXSL"
                  class="ma-0 pa-0"
                ></v-checkbox>

                <v-text-field
                  :label="`ระบุ`"
                  type="number"
                  inputmode="numeric"
                  v-model="irefLAB_HCT"
                  class="ma-0 pa-0 pr-2 pl-2"
                  data-numeric-input
                ></v-text-field>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
    </v-flex>-->

    <v-flex xs12 sm12 md12>
      <v-card class="pb-2" flat outlined>
        <v-layout row wrap ma-0>
          <v-flex xs12 sm3 md3>
            <v-text-field
              :label="`Neurological deficit*`"
         type="number"
              placeholder="0-42"
              :min="0"
              :max="42"
              @blur="checkNEU()"
              inputmode="numeric"
              v-model="fm.hrefRST_NEURO"
              class="ma-0 pl-2"
              data-numeric-input
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 md3>
            <v-text-field
              :label="`mRS*`"
              type="number"
              placeholder="0-5"
              :min="0"
                :max="5"
              @blur="checkMRS()"
              v-model="fm.hrefRST_MRS"
              class="ma-0 pl-2 pr-2"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 md3>
            <v-text-field
              :label="`Bathel index*`"
              type="number"
              placeholder="1-20"
              :min="1"
              :max="20"
              v-model="fm.hrefRST_BI"
              @blur="checkBI()"
              class="ma-0 pl-2 pr-2"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm3 md3>
            <v-text-field
              md4
              sm12
              :label="`BP`"

              placeholder="0"
              :min="0"
              v-model="fm.hrefRST_BP"
              class="ma-0 pl-2 pr-2"
              suffix="mmHg"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>

    <!-- card paging -->
    <v-card class="mt-1 mb-4" flat outlined>
      <v-layout row wrap ma-0>
        <v-flex xs12 sm12 md10 ma-0>
          <table style="width:100%">
            <thead>
              <tr>
                <th class="text-left pl-2" style="width:130px; text-align:left">Home medication*</th>
                <th class="text-center" style="width:100px">ขนาด/ปริมาณ</th>
                <th class="text-center">จำนวนที่รับประทาน</th>
                <th class="text-center" style="width:80px">หน่วย</th>
                <th class="text-center" style="width:120px">วิธีรับประทาน</th>
                <th class="text-center" style="width:210px">เวลา</th>
                <!-- <th class="text-center">Additional note</th> -->
              </tr>
            </thead>
            <tbody>
<!-- ----------- Enalapril --------------- -->
              <tr>
                <td>
                  <v-checkbox :label="`Enalapril`" v-model="fm.hrefHMED_ENA" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistENA"
         
                    :disabled="!fm.hrefHMED_ENA"
                    v-model="fm.hrefHMED_ENA_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
         
                    :disabled="!fm.hrefHMED_ENA"
                    v-model="fm.hrefHMED_ENA_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>

                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                     :disabled="!fm.hrefHMED_ENA"
                    v-model="fm.hrefHMED_ENA_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                     :disabled="!fm.hrefHMED_ENA" 
                     
                    v-model="fm.hrefHMED_ENA_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                     :disabled="!fm.hrefHMED_ENA"
                    v-model="fm.hrefHMED_ENA_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <!-- <td rowspan="9">
              <v-textarea
                v-model="irefRSK_OTHSP"
                filled
                auto-grow
                label="specify"
                rows="11"
                row-height="28"
                class="pa-0 ma-0"
                solo
              ></v-textarea>
                </td>-->
              </tr>

<!-- ----------- Amlodipine --------------- -->              
              <tr>
                <td>
                  <v-checkbox
                    :label="`Amlodipine`"
                    v-model="fm.hrefHMED_AML"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>  
                  <v-combobox
                    :items="vlistAML"
                   
                     :disabled="!fm.hrefHMED_AML"
                    v-model="fm.hrefHMED_AML_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>

                   <v-combobox
                    :items="vlist053"
                   
                     :disabled="!fm.hrefHMED_AML"
                    v-model="fm.hrefHMED_AML_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>

                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                     :disabled="!fm.hrefHMED_AML"
                    v-model="fm.hrefHMED_AML_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                     :disabled="!fm.hrefHMED_AML"
                    v-model="fm.hrefHMED_AML_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                     :disabled="!fm.hrefHMED_AML"
                    v-model="fm.hrefHMED_AML_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

<!-- ----------- Manidipine --------------- -->                
              <tr>
                <td>
                  <v-checkbox
                    :label="`Manidipine`"
                    v-model="fm.hrefHMED_MAN"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistMAN"
               
                     :disabled="!fm.hrefHMED_MAN"
                    v-model="fm.hrefHMED_MAN_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>

                   <v-combobox
                    :items="vlist053"
               
                     :disabled="!fm.hrefHMED_MAN"
                    v-model="fm.hrefHMED_MAN_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>

                 
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                     :disabled="!fm.hrefHMED_MAN"
                    v-model="fm.hrefHMED_MAN_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                     :disabled="!fm.hrefHMED_MAN"
                    v-model="fm.hrefHMED_MAN_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                     :disabled="!fm.hrefHMED_MAN"
                    v-model="fm.hrefHMED_MAN_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

 <!-- ----------- Hydralazine --------------- -->              
              <tr>
                <td>
                  <v-checkbox
                    :label="`Hydralazine`"
                    v-model="fm.hrefHMED_HYD"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistHYD"
                   
                     :disabled="!fm.hrefHMED_HYD"
                    v-model="fm.hrefHMED_HYD_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>

                  <v-combobox
                    :items="vlist053"
                   
                     :disabled="!fm.hrefHMED_HYD"
                    v-model="fm.hrefHMED_HYD_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>

                 
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_HYD"
                    v-model="fm.hrefHMED_HYD_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_HYD"
                    v-model="fm.hrefHMED_HYD_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_HYD"
                    v-model="fm.hrefHMED_HYD_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

 <!-- ----------- Atenolol --------------- -->              
              <tr>
                <td>
                  <v-checkbox :label="`Atenolol`" v-model="fm.hrefHMED_ATE" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistATE"
                
                    :disabled="!fm.hrefHMED_ATE"
                    v-model="fm.hrefHMED_ATE_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                
                    :disabled="!fm.hrefHMED_ATE"
                    v-model="fm.hrefHMED_ATE_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>

                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_ATE"
                    v-model="fm.hrefHMED_ATE_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_ATE"
                    v-model="fm.hrefHMED_ATE_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_ATE"
                    v-model="fm.hrefHMED_ATE_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

 <!-- ----------- Bisoprolol --------------- -->               
              <tr>
                <td>
                  <v-checkbox
                    :label="`Bisoprolol`"
                    v-model="fm.hrefHMED_BIS"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistBIS"
                    :disabled="!fm.hrefHMED_BIS"
                    v-model="fm.hrefHMED_BIS_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                   <v-combobox
                    :items="vlist053"
                    :disabled="!fm.hrefHMED_BIS"
                    v-model="fm.hrefHMED_BIS_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>

                  
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_BIS"
                    v-model="fm.hrefHMED_BIS_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_BIS"
                    v-model="fm.hrefHMED_BIS_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_BIS"
                    v-model="fm.hrefHMED_BIS_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

<!-- ----------- Methyldopa --------------- -->              
              <tr>
                <td>
                  <v-checkbox
                    :label="`Methyldopa`"
                    v-model="fm.hrefHMED_MET"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistMET"
                  
                    :disabled="!fm.hrefHMED_MET"
                    v-model="fm.hrefHMED_MET_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                   <v-combobox
                    :items="vlist053"
                  
                    :disabled="!fm.hrefHMED_MET"
                    v-model="fm.hrefHMED_MET_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>

                  
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_MET"
                    v-model="fm.hrefHMED_MET_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_MET"
                    v-model="fm.hrefHMED_MET_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_MET"
                    v-model="fm.hrefHMED_MET_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

<!-- ----------- HCTZ --------------- -->              
              <tr>
                <td>
                  <v-checkbox :label="`HCTZ`" v-model="fm.hrefHMED_HCTZ" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistHCTZ"
                    
                    :disabled="!fm.hrefHMED_HCTZ"
                    v-model="fm.hrefHMED_HCTZ_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                   <v-combobox
                    :items="vlist053"
                    
                    :disabled="!fm.hrefHMED_HCTZ"
                    v-model="fm.hrefHMED_HCTZ_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                 
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_HCTZ"
                    v-model="fm.hrefHMED_HCTZ_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_HCTZ"
                    v-model="fm.hrefHMED_HCTZ_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_HCTZ"
                    v-model="fm.hrefHMED_HCTZ_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

<!-- ----------- Doxazosin --------------- -->               
              <tr>
                <td>
                  <v-checkbox :label="`Doxazosin`" v-model="fm.hrefHMED_DOX" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistDOX"
                   
                    :disabled="!fm.hrefHMED_DOX"
                    v-model="fm.hrefHMED_DOX_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
                   
                    :disabled="!fm.hrefHMED_DOX"
                    v-model="fm.hrefHMED_DOX_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                 
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_DOX"
                    v-model="fm.hrefHMED_DOX_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_DOX"
                    v-model="fm.hrefHMED_DOX_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_DOX"
                    v-model="fm.hrefHMED_DOX_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

<!-- ----------- Dilantin --------------- -->               
              <tr>
                <td>
                  <v-checkbox :label="`Dilantin`" v-model="fm.hrefHMED_DIL" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistDIL"
               
                    :disabled="!fm.hrefHMED_DIL"
                    v-model="fm.hrefHMED_DIL_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlist053"
               
                    :disabled="!fm.hrefHMED_DIL"
                    v-model="fm.hrefHMED_DIL_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                 
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_DIL"
                    v-model="fm.hrefHMED_DIL_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_DIL"
                    v-model="fm.hrefHMED_DIL_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_DIL"
                    v-model="fm.hrefHMED_DIL_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>
<!-- ---------- Glipizide --------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Glipizide`"
                    v-model="fm.hrefHMED_GLIP"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistGLIP"
                    :disabled="!fm.hrefHMED_GLIP"
                    v-model="fm.hrefHMED_GLIP_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>

                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.hrefHMED_GLIP"
                    v-model="fm.hrefHMED_GLIP_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                  
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_GLIP"
                    v-model="fm.hrefHMED_GLIP_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_GLIP"
                    v-model="fm.hrefHMED_GLIP_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_GLIP"
                    v-model="fm.hrefHMED_GLIP_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>

<!-- ---------- Metformin --------- -->
              <tr>
                <td>
                  <v-checkbox
                    :label="`Metformin`"
                    v-model="fm.hrefHMED_METF"
                    class="ma-0 pa-0 pl-2"
                  ></v-checkbox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistMET"
                    :disabled="!fm.hrefHMED_METF"
                    v-model="fm.hrefHMED_METF_MG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>

                  <v-combobox
                    :items="vlist053"
                    :disabled="!fm.hrefHMED_METF"
                    v-model="fm.hrefHMED_METF_SIG"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                  
                </td>
                <td>
                  <v-combobox
                    :items="vlistUNIT"
                    :disabled="!fm.hrefHMED_METF"
                    v-model="fm.hrefHMED_METF_UNIT"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistUSE"
                    :disabled="!fm.hrefHMED_METF"
                    v-model="fm.hrefHMED_METF_USE"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    :items="vlistTM"
                    :disabled="!fm.hrefHMED_METF"
                    v-model="fm.hrefHMED_METF_TM"
                    label
                    class="ma-0 pa-0 pl-1 pr-1"
                  ></v-combobox>
                </td>
                <td rowspan="9"></td>
              </tr>                  
<!-- ----------- Other --------------- -->
              <tr>
                <td>
                  <v-checkbox :label="`Other`" v-model="fm.hrefHMED_OTH" class="ma-0 pa-0 pl-2"></v-checkbox>
                </td>
                <td colspan="5">
                  <v-text-field
                    :label="`specify`"
                    :disabled="!fm.hrefHMED_OTH"
                    v-model="fm.hrefHMED_OTHSP"
                    class="ma-0 pa-0 2"
                  ></v-text-field>
                </td>
              </tr>
            </tbody>
          </table>
        </v-flex>

        <v-flex xs12 sm12 md2>
          <v-textarea
            v-model="fm.hrefHMED_ADDNOTES"
            filled
            auto-grow
            rows="4"
            label="Additional Note"
            row-height="20"
            class="pa-0 ma-0"
            solo
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-card>

     <br/><br/>
  </div>
  <!-- end container -->
</template>

<script>
export default {
  layout: "hemoref_layout",
  data() {
    
    return {
      mask: "###/###",


      // vlistASA: ["81", "300"],
      // vlistSIM: ["20","40"],
      // vlistCLO: ["75",""],
      // vlistCIL: ["50", "100"],
      // vlistATO: ["40","80"],
      // vlistWAR: ["1", "2", "3", "4", "5"],
      // vlistOME: ["20"],
      // vlistRAN: ["150"],
      // vlistGLIP: ["5"],
      // vlistMET: ["500","800"],

      vlistENA: ["5", "10", "20"],
      vlistAML: ["5", "10"],
      vlistMAN: ["10","20"],
      vlistHYD: ["25","50"],
      vlistATE: ["50", "100"],
      vlistBIS: ["2.5", "5"],
      vlistMET: ["250","500"],
      vlistHCTZ: ["25", "50"],
      vlistDOX: ["2","4"],
      vlistDIL: ["50","100"],
      vlistGLIP: ["5"],
      vlistMETF: ["500","800"],

      vlist1: ["1"],
      vlist12: ["1","2"],
      vlist052: ["0.5","1","1.5","2"],
      vlist053: ["0.5","1","1.5","2","2.5","3"],


      vlistUNIT: ["เม็ด","tab", "tabs", "cap", "caps"],

      vlistUSE: [
        "ก่อนอาหาร",
        "หลังอาหาร",
        "po OD ac",
        "po OD pc",
        "po OD hs",
        "po BID ac",
        "po BID pc",
        "po TID ac",
        "po TID pc",
        "po QID ac with hs",
        "po QID pc with hs",

      ],
      vlistTM: [
        "เช้า",
        "กลางวัน",
        "เย็น",
        "ก่อนนอน",
        "เช้า เย็น",
        "เช้า เที่ยง",
        "เช้า ก่อนนอน",
        "เช้า กลางวัน เย็น",
        "เช้า กลางวัน เย็น ก่อนนอน",

      ],
      // vlist1: [300, 200, 100],
      // vlistENA: [5, 20],
      // vlistAML: [5, 10],
      // vlistMAN: [20],
      // vlistHYD: [25],
      // vlistATE: [50, 100],
      // vlistBIS: [2.5, 5],
      // vlistMET: [250],
      // vlistHCTZ: [25, 50],
      // vlistDOX: [4],
      // vlistDIL: [100],
      // vlistUNIT: ["tab","tabs","cap", "caps"],
      // vlistUSE: ["po OD ac", "po OD pc", "po OD hs", "po BID ac", "po BID pc", "po TID ac", "po TID pc", "po QID ac with hs", "po QID pc with hs"],
      // vlistTM: ["เช้า", "กลางวัน", "เย็น", "ก่อนนอน", "เช้า เย็น", "้เช้า เที่ยง", "เช้า ก่อนนอน", "เช้า กลางวัน เย็น", "เช้า กลางวัน เย็น ก่อนนอน"],
    
    fm: {},
      pt: {}
    };
  },
    methods: {
    async initialize(hn) {
      this.pt = this.$store.state.current_patient;
      this.fm = this.$store.state.current_hemo;
       this.$store.commit("SET_TOOLBAR_TITLE","Hemorrhagic Stroke > Referral >  Conditionn Before Referral");
      console.log(this.fm);
    },
    openLinkTab(link) {
      this.$store.commit("SET_CURRENT_HEMO", this.fm);
      this.$router.push(`${link}`);
    }  ,
      checkBI(){
      var bi = this.fm.hrefRST_BI;
        if(bi==""){return null}
      if(bi<1){
        bi=1;
      }
      if(bi>20){
        bi=20;
      }
      this.fm.hrefRST_BI = parseInt(bi)
    },
    checkMRS(){
      var mrs = this.fm.hrefRST_MRS;
        if(mrs==""){return null}
      if(mrs<0){
        mrs=0;
      }
      if(mrs>5){
        mrs=5;
      }
      this.fm.hrefRST_MRS = parseInt(mrs)
    },
    checkNEU(){
      var mrs = this.fm.hrefRST_NEURO;
        if(mrs==""){return null}
      if(mrs<0){
        mrs=0;
      }
      if(mrs>42){
        mrs=42;
      }
      this.fm.hrefRST_NEURO = mrs; //parseInt(mrs)
    }
  },
  created() {
    // var params = this.$router.currentRoute.query
    // console.log(params.hn)
    this.initialize();
  },
  computed: {},
  watch: {
   

    //===== Result Setting =====
    "fm.hrefRST_IMPROVE": function(n, o) {
      if (n == true) {
        //this.fm.hrefRST_IMPROVE = false
        this.fm.hrefRST_STABLE = false
        this.fm.hrefRST_WORSE = false
        this.fm.hrefRST_DEATH = false
      }
    },
    "fm.hrefRST_STABLE": function(n, o) {
      if (n == true) {
        this.fm.hrefRST_IMPROVE = false
        //this.fm.hrefRST_STABLE = false
        this.fm.hrefRST_WORSE = false
        this.fm.hrefRST_DEATH = false
      }
    },
    "fm.hrefRST_WORSE": function(n, o) {
      if (n == true) {
        this.fm.hrefRST_IMPROVE = false
        this.fm.hrefRST_STABLE = false
        //this.fm.hrefRST_WORSE = false
        this.fm.hrefRST_DEATH = false
      }
    },
    //-------------------------------------
    "fm.hrefRST_DEATH": function(n, o) {
      if (n == true) {
        this.fm.hrefRST_IMPROVE = false;
        this.fm.hrefRST_STABLE = false;
        this.fm.hrefRST_WORSE = false;
        //this.fm.hrefRST_DEATH = false
      } else {
        this.fm.hrefRST_CODBRAI = false;
        this.fm.hrefRST_CODPNEU = false;
        this.fm.hrefRST_CODMI = false;
        this.fm.hrefRST_CODPE = false;
        this.fm.hrefRST_CODUTI = false;
        this.fm.hrefRST_CODSEPS = false;
        this.fm.hrefRST_CODSP = false;
        this.fm.hrefRST_DEATHSP = null;
      }
    },
    // ================= Check Death ===============
    //  "fm.hrefRST_DEATH": function(n, o) {
    //    if (n == false) {
    //      this.fm.hrefRST_DEATHSP = null;
    //     this.fm.hrefRST_IMPROVE = false;
    //     this.fm.hrefRST_STABLE = false;
    //     this.fm.hrefRST_WORSE = false;
    //     this.fm.hrefRST_NEURO = false;
    //     this.fm.hrefRST_MRS = false;
    //     this.fm.hrefRST_BI = false;
    //     this.fm.hrefRST_BP = false;
    //     this.fm.hrefHMED_ENA = false;
    //     this.fm.hrefHMED_ENA_MG = null;
    //     this.fm.hrefHMED_ENA_SIG = null;
    //     this.fm.hrefHMED_ENA_UNIT = null;
    //     this.fm.hrefHMED_ENA_USE = null;
    //     this.fm.hrefHMED_ENA_TM = null;
    //     this.fm.hrefHMED_AML = false;
    //     this.fm.hrefHMED_AML_MG = null;
    //     this.fm.hrefHMED_AML_SIG = null;
    //     this.fm.hrefHMED_AML_UNIT = null;
    //     this.fm.hrefHMED_AML_USE = null;
    //     this.fm.hrefHMED_AML_TM = null;
    //     this.fm.hrefHMED_MAN = false;
    //     this.fm.hrefHMED_MAN_MG = null;
    //     this.fm.hrefHMED_MAN_SIG = null;
    //     this.fm.hrefHMED_MAN_UNIT = null;
    //     this.fm.hrefHMED_MAN_USE = null;
    //     this.fm.hrefHMED_MAN_TM = null;
    //     this.fm.hrefHMED_HYD = false;
    //     this.fm.hrefHMED_HYD_MG = null;
    //     this.fm.hrefHMED_HYD_SIG = null;
    //     this.fm.hrefHMED_HYD_UNIT = null;
    //     this.fm.hrefHMED_HYD_USE = null;
    //     this.fm.hrefHMED_HYD_TM = null;
    //     this.fm.hrefHMED_ATE = false;
    //     this.fm.hrefHMED_ATE_MG = null;
    //     this.fm.hrefHMED_ATE_SIG = null;
    //     this.fm.hrefHMED_ATE_UNIT = null;
    //     this.fm.hrefHMED_ATE_USE = null;
    //     this.fm.hrefHMED_ATE_TM = null;
    //     this.fm.hrefHMED_BIS = false;
    //     this.fm.hrefHMED_BIS_MG = null;
    //     this.fm.hrefHMED_BIS_SIG = null;
    //     this.fm.hrefHMED_BIS_UNIT = null;
    //     this.fm.hrefHMED_BIS_USE = null;
    //     this.fm.hrefHMED_BIS_TM = null;
    //     this.fm.hrefHMED_MET = false;
    //     this.fm.hrefHMED_MET_MG = null;
    //     this.fm.hrefHMED_MET_SIG = null;
    //     this.fm.hrefHMED_MET_UNIT = null;
    //     this.fm.hrefHMED_MET_USE = null;
    //     this.fm.hrefHMED_MET_TM = null;
    //     this.fm.hrefHMED_HCTZ = false;
    //     this.fm.hrefHMED_HCTZ_MG = null;
    //     this.fm.hrefHMED_HCTZ_SIG = null;
    //     this.fm.hrefHMED_HCTZ_UNIT = null;
    //     this.fm.hrefHMED_HCTZ_USE = null;
    //     this.fm.hrefHMED_HCTZ_TM = null;
    //     this.fm.hrefHMED_DOX = false;
    //     this.fm.hrefHMED_DOX_MG = null;
    //     this.fm.hrefHMED_DOX_SIG = null;
    //     this.fm.hrefHMED_DOX_UNIT = null;
    //     this.fm.hrefHMED_DOX_USE = null;
    //     this.fm.hrefHMED_DOX_TM = null;
    //     this.fm.hrefHMED_DIL = false;
    //     this.fm.hrefHMED_DIL_MG = null;
    //     this.fm.hrefHMED_DIL_SIG = null;
    //     this.fm.hrefHMED_DIL_UNIT = null;
    //     this.fm.hrefHMED_DIL_USE = null;
    //     this.fm.hrefHMED_DIL_TM = null;
    //     this.fm.hrefHMED_OTH = false;
    //     this.fm.hrefHMED_OTHSP = null;
    //    }
    //  },
    "fm.hrefRST_CODSP": function(n, o) {
      if (n == false) {
        this.fm.hrefRST_DEATHSP = null;
      }
    },

    // ================== Home medication Check ======================
    "fm.hrefHMED_ENA": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_ENA_MG = null;
        this.fm.hrefHMED_ENA_SIG = null;
        this.fm.hrefHMED_ENA_UNIT = null;
        this.fm.hrefHMED_ENA_USE = null;
        this.fm.hrefHMED_ENA_TM = null;
      }else{
        this.fm.hrefHMED_ENA_MG = (this.fm.hrefHMED_ENA_MG)?this.fm.hrefHMED_ENA_MG:"5";
        this.fm.hrefHMED_ENA_SIG = (this.fm.hrefHMED_ENA_SIG)?this.fm.hrefHMED_ENA_SIG:"1";
        this.fm.hrefHMED_ENA_UNIT =(this.fm.hrefHMED_ENA_UNIT)?this.fm.hrefHMED_ENA_UNIT : "เม็ด";
        this.fm.hrefHMED_ENA_USE = (this.fm.hrefHMED_ENA_USE)?this.fm.hrefHMED_ENA_USE:"หลังอาหาร";
        this.fm.hrefHMED_ENA_TM = (this.fm.hrefHMED_ENA_TM)?this.fm.hrefHMED_ENA_TM:"เช้า กลางวัน เย็น";
      }
    },
    "fm.hrefHMED_AML": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_AML_MG = null;
        this.fm.hrefHMED_AML_SIG = null;
        this.fm.hrefHMED_AML_UNIT = null;
        this.fm.hrefHMED_AML_USE = null;
        this.fm.hrefHMED_AML_TM = null;
      }else{
        this.fm.hrefHMED_AML_MG =(this.fm.hrefHMED_AML_MG)?this.fm.hrefHMED_AML_MG: "5";
        this.fm.hrefHMED_AML_SIG = (this.fm.hrefHMED_AML_SIG)?this.fm.hrefHMED_AML_SIG:"1";
        this.fm.hrefHMED_AML_UNIT = (this.fm.hrefHMED_AML_UNIT)?this.fm.hrefHMED_AML_UNIT:"เม็ด";
        this.fm.hrefHMED_AML_USE = (this.fm.hrefHMED_AML_USE)?this.fm.hrefHMED_AML_USE:"หลังอาหาร";
        this.fm.hrefHMED_AML_TM =  (this.fm.hrefHMED_AML_TM)?this.fm.hrefHMED_AML_TM:"เช้า กลางวัน เย็น";
      }
    },
    "fm.hrefHMED_MAN": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_MAN_MG = null;
        this.fm.hrefHMED_MAN_SIG = null;
        this.fm.hrefHMED_MAN_UNIT = null;
        this.fm.hrefHMED_MAN_USE = null;
        this.fm.hrefHMED_MAN_TM = null;
      }else{
        this.fm.hrefHMED_MAN_MG =(this.fm.hrefHMED_MAN_MG)? this.fm.hrefHMED_MAN_MG:"10";
        this.fm.hrefHMED_MAN_SIG = (this.fm.hrefHMED_MAN_SIG)? this.fm.hrefHMED_MAN_SIG:"1";
        this.fm.hrefHMED_MAN_UNIT = (this.fm.hrefHMED_MAN_UNIT)? this.fm.hrefHMED_MAN_UNIT:"เม็ด";
        this.fm.hrefHMED_MAN_USE = (this.fm.hrefHMED_MAN_USE)?this.fm.hrefHMED_MAN_USE :"หลังอาหาร";
        this.fm.hrefHMED_MAN_TM = (this.fm.hrefHMED_MAN_TM)? this.fm.hrefHMED_MAN_TM:"เช้า กลางวัน เย็น";
      }
    },
    "fm.hrefHMED_HYD": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_HYD_MG = null;
        this.fm.hrefHMED_HYD_SIG = null;
        this.fm.hrefHMED_HYD_UNIT = null;
        this.fm.hrefHMED_HYD_USE = null;
        this.fm.hrefHMED_HYD_TM = null;
      }else{
        this.fm.hrefHMED_HYD_MG = (this.fm.hrefHMED_HYD_MG)?this.fm.hrefHMED_HYD_MG :"25";
        this.fm.hrefHMED_HYD_SIG = (this.fm.hrefHMED_HYD_SIG)? this.fm.hrefHMED_HYD_SIG:"1";
        this.fm.hrefHMED_HYD_UNIT = (this.fm.hrefHMED_HYD_UNIT)? this.fm.hrefHMED_HYD_UNIT:"เม็ด";
        this.fm.hrefHMED_HYD_USE = (this.fm.hrefHMED_HYD_USE)?this.fm.hrefHMED_HYD_USE :"หลังอาหาร";
        this.fm.hrefHMED_HYD_TM = (this.fm.hrefHMED_HYD_TM)?this.fm.hrefHMED_HYD_TM :"เช้า กลางวัน เย็น";
      }
    },
    "fm.hrefHMED_ATE": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_ATE_MG = null;
        this.fm.hrefHMED_ATE_SIG = null;
        this.fm.hrefHMED_ATE_UNIT = null;
        this.fm.hrefHMED_ATE_USE = null;
        this.fm.hrefHMED_ATE_TM = null;
      }else{
         this.fm.hrefHMED_ATE_MG = ( this.fm.hrefHMED_ATE_MG)?this.fm.hrefHMED_ATE_MG :"50";
        this.fm.hrefHMED_ATE_SIG = (this.fm.hrefHMED_ATE_SIG )?this.fm.hrefHMED_ATE_SIG :"1";
        this.fm.hrefHMED_ATE_UNIT = ( this.fm.hrefHMED_ATE_UNIT)?this.fm.hrefHMED_ATE_UNIT :"เม็ด";
        this.fm.hrefHMED_ATE_USE = (this.fm.hrefHMED_ATE_USE )? this.fm.hrefHMED_ATE_USE:"หลังอาหาร";
        this.fm.hrefHMED_ATE_TM = (this.fm.hrefHMED_ATE_TM )?this.fm.hrefHMED_ATE_TM:"เช้า กลางวัน เย็น";
      }
    },
    "fm.hrefHMED_BIS": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_BIS_MG = null;
        this.fm.hrefHMED_BIS_SIG = null;
        this.fm.hrefHMED_BIS_UNIT = null;
        this.fm.hrefHMED_BIS_USE = null;
        this.fm.hrefHMED_BIS_TM = null;
      }else{
        this.fm.hrefHMED_BIS_MG = ( this.fm.hrefHMED_BIS_MG )? this.fm.hrefHMED_BIS_MG :"2.5";
        this.fm.hrefHMED_BIS_SIG = ( this.fm.hrefHMED_BIS_SIG)? this.fm.hrefHMED_BIS_SIG:"1";
        this.fm.hrefHMED_BIS_UNIT = (this.fm.hrefHMED_BIS_UNIT )?this.fm.hrefHMED_BIS_UNIT :"เม็ด";
        this.fm.hrefHMED_BIS_USE = ( this.fm.hrefHMED_BIS_USE )? this.fm.hrefHMED_BIS_USE :"หลังอาหาร";
        this.fm.hrefHMED_BIS_TM = (this.fm.hrefHMED_BIS_TM )?this.fm.hrefHMED_BIS_TM :"เช้า กลางวัน เย็น";
      }
    },
    "fm.hrefHMED_MET": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_MET_MG = null;
        this.fm.hrefHMED_MET_SIG = null;
        this.fm.hrefHMED_MET_UNIT = null;
        this.fm.hrefHMED_MET_USE = null;
        this.fm.hrefHMED_MET_TM = null;
      }else{
        this.fm.hrefHMED_MET_MG = ( this.fm.hrefHMED_MET_MG )?  this.fm.hrefHMED_MET_MG:"250";
        this.fm.hrefHMED_MET_SIG = (  this.fm.hrefHMED_MET_SIG)?  this.fm.hrefHMED_MET_SIG:"1";
        this.fm.hrefHMED_MET_UNIT = (this.fm.hrefHMED_MET_UNIT )? this.fm.hrefHMED_MET_UNIT:"เม็ด";
        this.fm.hrefHMED_MET_USE = (this.fm.hrefHMED_MET_USE  )?this.fm.hrefHMED_MET_USE  :"หลังอาหาร";
        this.fm.hrefHMED_MET_TM = (this.fm.hrefHMED_MET_TM )?this.fm.hrefHMED_MET_TM :"เช้า กลางวัน เย็น";
      }
    },
    "fm.hrefHMED_HCTZ": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_HCTZ_MG = null;
        this.fm.hrefHMED_HCTZ_SIG = null;
        this.fm.hrefHMED_HCTZ_UNIT = null;
        this.fm.hrefHMED_HCTZ_USE = null;
        this.fm.hrefHMED_HCTZ_TM = null;
      }else{
        this.fm.hrefHMED_HCTZ_MG = (this.fm.hrefHMED_HCTZ_MG )? this.fm.hrefHMED_HCTZ_MG:"25";
        this.fm.hrefHMED_HCTZ_SIG = (this.fm.hrefHMED_HCTZ_SIG )?this.fm.hrefHMED_HCTZ_SIG :"1";
        this.fm.hrefHMED_HCTZ_UNIT = (this.fm.hrefHMED_HCTZ_UNIT )?this.fm.hrefHMED_HCTZ_UNIT :"เม็ด";
        this.fm.hrefHMED_HCTZ_USE = (this.fm.hrefHMED_HCTZ_USE )?this.fm.hrefHMED_HCTZ_USE :"หลังอาหาร";
        this.fm.hrefHMED_HCTZ_TM = (this.fm.hrefHMED_HCTZ_TM )? this.fm.hrefHMED_HCTZ_TM:"เช้า กลางวัน เย็น";
      }
    },
    "fm.hrefHMED_DOX": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_DOX_MG = null;
        this.fm.hrefHMED_DOX_SIG = null;
        this.fm.hrefHMED_DOX_UNIT = null;
        this.fm.hrefHMED_DOX_USE = null;
        this.fm.hrefHMED_DOX_TM = null;
      }else{
        this.fm.hrefHMED_DOX_MG = (this.fm.hrefHMED_DOX_MG )?this.fm.hrefHMED_DOX_MG :"2";
        this.fm.hrefHMED_DOX_SIG = ( this.fm.hrefHMED_DOX_SIG)? this.fm.hrefHMED_DOX_SIG:"1";
        this.fm.hrefHMED_DOX_UNIT = ( this.fm.hrefHMED_DOX_UNIT)? this.fm.hrefHMED_DOX_UNIT:"เม็ด";
        this.fm.hrefHMED_DOX_USE = ( this.fm.hrefHMED_DOX_USE )? this.fm.hrefHMED_DOX_USE :"ก่อนอาหาร";
        this.fm.hrefHMED_DOX_TM = ( this.fm.hrefHMED_DOX_TM )?this.fm.hrefHMED_DOX_TM  :"เช้า กลางวัน เย็น";
      }
    },
     "fm.hrefHMED_DIL": function(n, o) {
      if (n == false  || n == null) {
        this.fm.hrefHMED_DIL_MG = null;
        this.fm.hrefHMED_DIL_SIG = null;
        this.fm.hrefHMED_DIL_UNIT = null;
        this.fm.hrefHMED_DIL_USE = null;
        this.fm.hrefHMED_DIL_TM = null;
      }else{
        this.fm.hrefHMED_DIL_MG = (this.fm.hrefHMED_DIL_MG  )? this.fm.hrefHMED_DIL_MG :"50";
        this.fm.hrefHMED_DIL_SIG = (this.fm.hrefHMED_DIL_SIG )?this.fm.hrefHMED_DIL_SIG :"1";
        this.fm.hrefHMED_DIL_UNIT = (this.fm.hrefHMED_DIL_UNIT )?this.fm.hrefHMED_DIL_UNIT :"เม็ด";
        this.fm.hrefHMED_DIL_USE = ( this.fm.hrefHMED_DIL_USE)?this.fm.hrefHMED_DIL_USE :"หลังอาหาร";
        this.fm.hrefHMED_DIL_TM = ( this.fm.hrefHMED_DIL_TM)?this.fm.hrefHMED_DIL_TM :"เช้า กลางวัน เย็น";
      }
    },
    
        
    "fm.hrefHMED_GLIP": function(n, o) {
      if (n == false || n == null) {
        this.fm.hrefHMED_GLIP_MG = null;
        this.fm.hrefHMED_GLIP_SIG = null;
        this.fm.hrefHMED_GLIP_UNIT = null;
        this.fm.hrefHMED_GLIP_USE = null;
        this.fm.hrefHMED_GLIP_TM = null;
      }else{
        this.fm.hrefHMED_GLIP_MG = ( this.fm.hrefHMED_GLIP_MG)?this.fm.hrefHMED_GLIP_MG :"5";
        this.fm.hrefHMED_GLIP_SIG = ( this.fm.hrefHMED_GLIP_SIG)?this.fm.hrefHMED_GLIP_SIG :"1";
        this.fm.hrefHMED_GLIP_UNIT = ( this.fm.hrefHMED_GLIP_UNIT)? this.fm.hrefHMED_GLIP_UNIT:"เม็ด";
        this.fm.hrefHMED_GLIP_USE = ( this.fm.hrefHMED_GLIP_USE)?this.fm.hrefHMED_GLIP_USE :"ก่อนอาหาร";
        this.fm.hrefHMED_GLIP_TM = (this.fm.hrefHMED_GLIP_TM  )?this.fm.hrefHMED_GLIP_TM  :"เช้า กลางวัน เย็น";
      }
    },   
    "fm.hrefHMED_METF": function(n, o) {
      if (n == false || n == null) {
        this.fm.hrefHMED_METF_MG = null;
        this.fm.hrefHMED_METF_SIG = null;
        this.fm.hrefHMED_METF_UNIT = null;
        this.fm.hrefHMED_METF_USE = null;
        this.fm.hrefHMED_METF_TM = null;
      }else{
        this.fm.hrefHMED_METF_MG = (this.fm.hrefHMED_METF_MG )? this.fm.hrefHMED_METF_MG:"500";
        this.fm.hrefHMED_METF_SIG = ( this.fm.hrefHMED_METF_SIG)? this.fm.hrefHMED_METF_SIG:"1";
        this.fm.hrefHMED_METF_UNIT = ( this.fm.hrefHMED_METF_UNIT )? this.fm.hrefHMED_METF_UNIT :"เม็ด";
        this.fm.hrefHMED_METF_USE = ( this.fm.hrefHMED_METF_USE )? this.fm.hrefHMED_METF_USE :"หลังอาหาร";
        this.fm.hrefHMED_METF_TM = ( this.fm.hrefHMED_METF_TM)?this.fm.hrefHMED_METF_TM :"เช้า กลางวัน เย็น";
      }
    },
    // ================== HMC Other ======================
    "fm.hrefHMED_OTH" : function(n, o) {
      if (n == false) {
        this.fm.hrefHMED_OTHSP = null;
      }
    } ,

  },

};
</script>


<style scoped>
.divcontainer {
  /* padding: 10px !important; */
}

.htitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  /* margin-top: -22px; */
  margin-left: 10px;
  /* width: 100px; */
  background-color: #fafafa;
  display: flex;
  /* padding: 0 10px 0 4px; */
}
/* .v-input__slot{
  margin-bottom: 0px !important;
}

.v-text-field{
    padding-top: 4px !important;
} */
</style>
