<template>
  <!-- <div id="page-selection-controls"> -->
  <div class="divcontainer">
    
    <v-layout wrap row ma-0>
      <!-- Col 1 Diagnnostic -->
      <v-flex md4 sm4 xs12>
        <v-card class="ma-1 pb-sm-2 pb-md-10" flat outlined>
          <h4 class="htitle">Diagnosis investigations*</h4>
          <div class="pl-4 l-4 pr-2 ma-0">
            <v-checkbox :label="`CT brain*`" v-model="fm.hrefCTB" class="ma-0"></v-checkbox>
            <v-text-field
              :label="`Result`"
              :disabled="!fm.hrefCTB"
              v-model="fm.hrefCTB_RST"
              class="ma-0 pa-0 pl-4 pb-2"
            ></v-text-field>
            <v-checkbox :label="`CTA brain and neck`" v-model="fm.hrefCTAB" class="ma-0"></v-checkbox>
            <v-text-field
              :label="`Result`"
              :disabled="!fm.hrefCTAB"
              v-model="fm.hrefCTAB_RST"
              class="ma-0 pa-0 pl-4 pb-2"
            ></v-text-field>
            <v-checkbox
              :label="`MRI brain/ MRA brain and neck`"
              v-model="fm.hrefMRIAB"
              class="ma-0"
            ></v-checkbox>
            <v-text-field
              :label="`Result`"
              :disabled="!fm.hrefMRIAB"
              v-model="fm.hrefMRIAB_RST"
              class="ma-0 pa-0 pl-4 pb-2"
            ></v-text-field>
            <!-- <v-checkbox :label="`CDUS`" v-model="irefCDUS" class="ma-0"></v-checkbox>
            <v-text-field :label="`Result`" :disabled="!irefCDUS" v-model="irefCDUS_RST" class="ma-0 pa-0 pl-4 pb-2" ></v-text-field>-->

            <!-- ECG select group -->
            <v-checkbox :label="`ECG*`" v-model="fm.hrefECG" class="ma-0"></v-checkbox>
            <v-layout row wrap pl-4>
              <v-checkbox
                md6
                sm12
                :label="`NSR`"
                :disabled="!fm.hrefECG"
                v-model="fm.hrefECG_NSR"
                class="ma-0"
              ></v-checkbox>
              <v-checkbox
                md6
                sm12
                :label="`Afib/ Afluter`"
                :disabled="!fm.hrefECG"
                v-model="fm.hrefECG_AA"
                class="ma-0"
              ></v-checkbox>
              <v-layout row ma-0>
                <v-checkbox
                  md6
                  sm12
                  :label="`Other`"
                  :disabled="!fm.hrefECG"
                  v-model="fm.hrefECG_OTH"
                  class="ma-0"
                ></v-checkbox>
                <v-text-field
                  md6
                  sm12
                  :label="`specify`"
                  :disabled="!fm.hrefECG_OTH"
                  v-model="fm.hrefECG_OTHSP"
                  class="ma-0 pa-0 pl-2 pr-2 pb-2"
                ></v-text-field>
              </v-layout>
            </v-layout>

            <!-- <div class="d-flex flex-row pt-4">
            <v-checkbox :label="`Echocadiogram`" v-model="irefECHO" class="ma-0"></v-checkbox>
            <v-text-field :label="`Result`" :disabled="!irefECHO" v-model="irefECHO_RST" class="ma-0 pa-0 pl-4 pb-2" ></v-text-field>
            </div>-->
          </div>
          <div style="height:150px" class="d-xs-none"></div>
        </v-card>
      </v-flex>
 <!-- <v-icon>get_app</v-icon> -->
      <!-- Col 2 Labs -->
      <v-flex md3 sm3 xs12>
        <v-card class="ma-1 pb-sm-5 pb-md-1" flat outlined>
          <h4 class="htitle">Labs* <v-btn tile style="float:right" @click="loadLab()" icon color="gray">
              <v-icon>get_app</v-icon>*
            </v-btn></h4>
         
          <div class="pl-2 pr-2 ma-0">
            <v-text-field
              :label="`Hct`"
              type="number"
              inputmode="numeric"
              v-model="fm.hrefLAB_HCT"
              class="ma-0"
              suffix="%"
              data-numeric-input
            ></v-text-field>
            <v-text-field
              :label="`wbc`"
              type="number"
              v-model="fm.hrefLAB_WBC"
              class="ma-0"
              suffix="/cu.mm^3"
            ></v-text-field>
            <v-text-field
              :label="`plt`"
              type="number"
              v-model="fm.hrefLAB_PLT"
              class="ma-0"
              suffix="/cu.mm^3"
            ></v-text-field>
            <v-text-field
              :label="`Chol`"
              type="number"
              v-model="fm.hrefLAB_CHOL"
              class="ma-0"
              suffix="mg/dL"
            ></v-text-field>
            <v-text-field
              :label="`TG`"
              type="number"
              v-model="fm.hrefLAB_TG"
              class="ma-0"
              suffix="mg/dL"
            ></v-text-field>
            <v-text-field
              :label="`LDL`"
              type="number"
              v-model="fm.hrefLAB_LDL"
              class="ma-0"
              suffix="mg/dL"
            ></v-text-field>
            <v-text-field
              :label="`HDL`"
              type="number"
              v-model="fm.hrefLAB_HDL"
              class="ma-0"
              suffix="mg/dL"
            ></v-text-field>
            <v-text-field
              :label="`FBS`"
              type="number"
              v-model="fm.hrefLAB_FBS"
              class="ma-0"
              suffix="mg/dL"
            ></v-text-field>
            <v-text-field
              :label="`BUN`"
              type="number"
              v-model="fm.hrefLAB_BUN"
              class="ma-0"
              suffix="mg/dL"
            ></v-text-field>
            <v-text-field
              :label="`Creatinine`"
              type="number"
              v-model="fm.hrefLAB_CR"
              class="ma-0"
              suffix="mg/dL"
            ></v-text-field>
          </div>
        </v-card>
      </v-flex>

      <!-- col 3 Risk of stroke -->
      <v-flex md2 sm2 xs12>
        <v-card class="ma-1 pb-sm-0 pb-md-3" flat outlined>
          <h4 class="htitle">Risk of stroke*</h4>
          <div class="pl-2 pr-1 ma-0">
            <v-checkbox :label="`None`" v-model="fm.hrefRSK_NONE" class="ma-0"></v-checkbox>
            <v-checkbox :label="`HTN`" v-model="fm.hrefRSK_HTN" class="ma-0"></v-checkbox>
            <v-checkbox :label="`DM`" v-model="fm.hrefRSK_DM" class="ma-0"></v-checkbox>
            <v-checkbox :label="`OCP`" v-model="fm.hrefRSK_OCP" class="ma-0"></v-checkbox>
            <v-checkbox :label="`CKD`" v-model="fm.hrefRSK_CKD" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Smoking`" v-model="fm.hrefRSK_SMOK" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Alcohol`" v-model="fm.hrefRSK_ALC" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Other`" v-model="fm.hrefRSK_OTH" class="ma-0"></v-checkbox>
            <v-textarea
              :disabled="!fm.hrefRSK_OTH"
              v-model="fm.hrefRSK_OTHSP"
              filled
              auto-grow
              label="specify"
              rows="12"
              row-height="20"
              class="pa-0 mb-4 pl-4 ma-0"
              outlined
            ></v-textarea>
          </div>
        </v-card>
      </v-flex>

      <!-- col 4 Complications -->
      <v-flex md3 sm3 xs12>
        <v-card class="ma-1 pb-sm-4 pb-md-0" flat outlined>
          <h4 class="htitle">Complications*</h4>
          <div class="pl-2 pr-1 ma-0">
            <v-checkbox :label="`None`" v-model="fm.hrefCOMP_NONE" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Obstructive hydrocephalus`" v-model="fm.hrefCOMP_OBS" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Brain edema`" v-model="fm.hrefCOMP_BRAIN" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Recurrent ICH`" v-model="fm.hrefCOMP_RECUR" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Seizure`" v-model="fm.hrefCOMP_SEIZ" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Sepsis`" v-model="fm.hrefCOMP_SEPSIS" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Pneumonia`" v-model="fm.hrefCOMP_PNEU" class="ma-0"></v-checkbox>
            <v-checkbox :label="`UTI`" v-model="fm.hrefCOMP_UTI" class="ma-0"></v-checkbox>
            <v-checkbox :label="`GIB`" v-model="fm.hrefCOMP_GIB" class="ma-0"></v-checkbox>
            <v-checkbox :label="`DVT`" v-model="fm.hrefCOMP_DVT" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Pressure sore`" v-model="fm.hrefCOMP_PRESS" class="ma-0"></v-checkbox>
            <v-checkbox :label="`AMI`" v-model="fm.hrefCOMP_AMI" class="ma-0"></v-checkbox>
            <v-checkbox :label="`Other`" v-model="fm.hrefCOMP_OTH" class="ma-0"></v-checkbox>

            <v-textarea
              :disabled="!fm.hrefCOMP_OTH"
              v-model="compute_hrefCOMP_OTHSP"
              filled
              auto-grow
              label="specify"
              rows="7"
              row-height="20"
              class="pa-0 mb-4 pl-4 ma-0"
              outlined
            ></v-textarea>
          </div>
        </v-card>
      </v-flex>
      <!-- end TOAST -->
    </v-layout>
    <!-- card paging -->
    <br/><br/>
  </div>
  <!-- end container -->
</template>

<script>
import util from "@/util";

export default {
  layout: "hemoref_layout",
  data() {
    return {
      fm: {},
      pt: {},
    };
  },
   methods: {
    async initialize(hn) {
      this.pt = this.$store.state.current_patient;
      this.fm = this.$store.state.current_hemo;
       console.log("----- init --------")
       console.log(this.fm.hrefCOMP_OTHSP)
       if(!this.fm.hrefCOMP_OTHSP){
        this.fm.hrefCOMP_OTHSP=new Buffer("", "utf8");
        console.log(this.fm.hrefCOMP_OTHSP)
      }

      // if(!this.fm.hrefRSK_OTHSP){
      //   this.fm.hrefRSK_OTHSP=new Buffer("", "utf8");
      //   console.log(this.fm.hrefRSK_OTHSP)
      // }
       this.$store.commit("SET_TOOLBAR_TITLE","Hemorrhagic Stroke > Referral >  Diagnosis Investigation");
      console.log(this.fm);
    },
    openLinkTab(link) {
      this.$store.commit("SET_CURRENT_HEMO", this.fm);
      this.$router.push(`${link}`);
    },
    loadLab(){
      console.log("---- loadlab -----")
      console.log()
      
      this.fm.hrefLAB_HCT=30
      this.fm.hrefLAB_WBC=22
      this.fm.hrefLAB_PLT=11
      this.fm.hrefLAB_CHOL=15
      this.fm.hrefLAB_TG=25
      this.fm.hrefLAB_LDL=55
      this.fm.hrefLAB_HDL=12
      this.fm.hrefLAB_FBS=32
      this.fm.hrefLAB_BUN=13
      this.fm.hrefLAB_CR=23


    }
  
  },
  created() {
    // var params = this.$router.currentRoute.query
    // console.log(params.hn)
    this.initialize();
  },
  computed: {
    // irefRSK_OTHSP
    // irefCOMP_OTHSP
  

    compute_hrefCOMP_OTHSP: {
      get() {
        console.log("--->compute OTHSP ----")
        console.log(this.fm.hrefCOMP_OTHSP)
        if(!this.fm.hrefCOMP_OTHSP) {return ""}
        return util.blobToText(this.fm.hrefCOMP_OTHSP.data);
      },
      set(newVal) {
        // if(this.fm.irefCOMP_OTHSP==null) {this.fm.irefCOMP_OTHSP.data==null}
        console.log("--->set compute OTHSP ----")
        console.log(this.fm.hrefCOMP_OTHSP)
        console.log(newVal)
        this.fm.hrefCOMP_OTHSP.data = util.textToBlob(newVal);
      }
    },
  },
  watch: {
    //----------- Diagnosis investigations Select -------
    "fm.hrefCTB": function(n, o) {
      if (n == false) {
        this.fm.hrefCTB_RST = null;
      }
    },
    "fm.hrefCTAB": function(n, o) {
      if (n == false) {
        this.fm.hrefCTAB_RST = null;
      }
    },
    "fm.hrefMRIAB": function(n, o) {
      
      if (n == false) {
        this.fm.hrefMRIAB_RST = null;
      }
    },

    //------------ ECG Choice----------------
    "fm.hrefECG": function(n, o) {
      if (n == false) {
        this.fm.hrefECG_OTHSP = null;
        
      }
    },
    "fm.hrefECG_OTH": function(n, o) {
      if (n == false) {
        this.fm.hrefECG_OTHSP = null;

      }
    },
    // // ----------------- Risk of stroke Choice ---------------
    //   "fm.hrefRSK_OTH": function(n, o) {
    //   if (n == false) {
    //     this.fm.hrefRSK_OTHSP = null;
    //   }
    // },
    // // -------------------- Complications Choice ----------------
    //  "fm.hrefCOMP_OTH": function(n, o) {
    //   if (n == false) {
    //     this.fm.hrefCOMP_OTHSP = null;
    //   }
    //  },

     // ===== Risk of stroke =====
    "fm.hrefRSK_NONE": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_HTN = false;
        this.fm.hrefRSK_DM = false;
        this.fm.hrefRSK_DYS = false;
        this.fm.hrefRSK_AFIB = false;
        this.fm.hrefRSK_OCP = false;
        this.fm.hrefRSK_CKD = false;
        this.fm.hrefRSK_SMOK = false;
        this.fm.hrefRSK_ALC = false;
        this.fm.hrefRSK_OTH = false;
      }
    },
     "fm.hrefRSK_OCP": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      }
    },
     "fm.hrefRSK_CKD": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      }
    },
    "fm.hrefRSK_HTN": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      }
    },
    "fm.hrefRSK_DM": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      }
    },
    "fm.hrefRSK_DYS": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      }
    },
    "fm.hrefRSK_AFIB": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      }
    },
    "fm.hrefRSK_SMOK": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      }
    },
    "fm.hrefRSK_ALC": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      }
    },
    "fm.hrefRSK_OTH": function(n, o) {
      if (n == true) {
        this.fm.hrefRSK_NONE = false;
      } else {
        this.fm.hrefRSK_OTHSP = null;
      }
    },

//  <v-checkbox :label="`None`" v-model="fm.hrefCOMP_NONE" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`Obstructive hydrocephalus`" v-model="fm.hrefCOMP_OBS" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`Brain edema`" v-model="fm.hrefCOMP_BRAIN" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`Recurrent ICH`" v-model="fm.hrefCOMP_RECUR" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`Seizure`" v-model="fm.hrefCOMP_SEIZ" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`Sepsis`" v-model="fm.hrefCOMP_SEPSIS" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`Pneumonia`" v-model="fm.hrefCOMP_PNEU" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`UTI`" v-model="fm.hrefCOMP_UTI" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`GIB`" v-model="fm.hrefCOMP_GIB" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`DVT`" v-model="fm.hrefCOMP_DVT" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`Pressure sore`" v-model="fm.hrefCOMP_PRESS" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`AMI`" v-model="fm.hrefCOMP_AMI" class="ma-0"></v-checkbox>
//             <v-checkbox :label="`Other`" v-model="fm.hrefCOMP_OTH" class="ma-0"></v-checkbox>
    //===== Comlications =====
    "fm.hrefCOMP_NONE": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_OBS = false;
        this.fm.hrefCOMP_BRAIN = false;
        this.fm.hrefCOMP_RECUR = false;
        this.fm.hrefCOMP_SEIZ = false;
        this.fm.hrefCOMP_SEPSIS = false;
        this.fm.hrefCOMP_PNEU = false;
        this.fm.hrefCOMP_UTI = false;
        this.fm.hrefCOMP_GIB = false;
        this.fm.hrefCOMP_DVT = false;
        this.fm.hrefCOMP_PRESS = false;
        this.fm.hrefCOMP_AMI = false;
        this.fm.hrefCOMP_OTH = false;
      }
    },
    "fm.hrefCOMP_OBS": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_BRAIN": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_RECUR": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
     "fm.hrefCOMP_SEIZ": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
     "fm.hrefCOMP_SEPSIS": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_PNEU": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_UTI": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_GIB": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_DVT": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_PRESS": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_AMI": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      }
    },
    "fm.hrefCOMP_OTH": function(n, o) {
      if (n == true) {
        this.fm.hrefCOMP_NONE = false;
      } else {
        this.fm.hrefCOMP_OTHSP = null;
      }
    }
  },

};
</script>


<style scoped>
.divcontainer {
  /* padding: 10px !important; */
}

.htitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  /* margin-top: -22px; */
  margin-left: 10px;
  /* width: 100px; */
  background-color: #fafafa;
  /* display: flex; */
  /* padding: 0 10px 0 10px; */
}
</style>
