<template>
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <!-- <img src="../static/m.png" alt="Vue Material Admin" width="120" height="120"> -->
                  <h1 class="flex my-4 primary--text">Strokeman</h1>
                  <h2>{{$store.state.err_msg}}</h2>
                </div>
                <v-form>
                  <v-text-field
                    append-icon="person"
                    name="login"
                    label="Login"
                    type="text"
                    v-model="model.username"
                  ></v-text-field>
                  <v-text-field
                    append-icon="lock"
                    name="password"
                    label="Password"
                    id="password"
                    type="password"
                    v-model="model.password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <!-- <v-btn icon>
                  <v-icon color="blue">fa fa-facebook-square fa-lg</v-icon>
                </v-btn>
                <v-btn icon>
                  <v-icon color="red">fa fa-google fa-lg</v-icon>
                </v-btn>
                <v-btn icon>
                  <v-icon color="light-blue">fa fa-twitter fa-lg</v-icon>
                </v-btn>-->
                <v-spacer></v-spacer>
                <v-btn block color="primary" @click="login" :loading="loading">Login</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Logo from "~/components/Logo.vue";
import VuetifyLogo from "~/components/VuetifyLogo.vue";
import axios from "axios";

export default {
  layout: "notitle",
  data: () => ({
    loading: false,
    model: {
      username: "",
      password: ""
    }
  }),
  methods: {
    async login(context) {
      this.loading = true;
      let user = {
        staff_code: this.model.username,
        staff_pwd: this.model.password
      };
      // console.log(user);
      const res = await axios.post(this.$store.state.api_url + "/login", user);
      // console.log("------login-------");
      // console.log(res.data);
      if (res.data.success) {
        this.$store.commit("SET_LOGIN_USER", res.data.data);
        this.$store.commit("SET_ERR_MSG", "");
        // console.log(this.$store.state.user)
        this.$router.push("main/patients_list");
      } else {
        this.$store.commit("SET_ERR_MSG", res.data.message);
        //  console.log(this.$store.state.err_msg)
        this.$router.push("/");
      }
      this.loading = false;
    }
  },
  components: {
    Logo,
    VuetifyLogo
  }
};
</script>
<style scoped lang="css">
#login {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}
</style>